Repository openmsupply/openmsupply-client, pull requests merged in 2021-12, with the labels that each got.

#550 #464 available quantity
  packages/common/src/types/index.ts
  packages/common/src/ui/layout/tables/components/DataRow/DataRow.tsx
  packages/common/src/ui/layout/tables/components/index.tsx
  packages/invoices/src/InboundShipment/DetailView/modals/InboundLineEdit/InboundLineEditForm.tsx
  packages/invoices/src/OutboundShipment/DetailView/api.ts
  packages/invoices/src/OutboundShipment/DetailView/modals/ItemDetailsForm.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/ItemDetailsModal.tsx
  packages/system/src/Item/Components/ItemSearchInput/ItemSearchInput.tsx
  packages/system/src/Item/hooks/useItem/useItem.ts
  packages/system/src/Item/hooks/useItemsList/useItemsList.ts
  packages/system/src/Item/utils.ts
Labels: Status: In progress, outbound

#598 #504 date pickers
  packages/common/src/styles/ThemeProvider.tsx
  packages/common/src/ui/components/inputs/DatePickers/BaseDatePickerInput/BaseDatePickerInput.tsx
  packages/common/src/ui/components/inputs/DatePickers/BaseDatePickerInput/index.ts
  packages/common/src/ui/components/inputs/DatePickers/DatePicker.stories.tsx
  packages/common/src/ui/components/inputs/DatePickers/DatePickerInput/DatePickerInput.tsx
  packages/common/src/ui/components/inputs/DatePickers/DatePickerInput/index.ts
  packages/common/src/ui/components/inputs/DatePickers/ExpiryDateInput/ExpiryDateInput.tsx
  packages/common/src/ui/components/inputs/DatePickers/ExpiryDateInput/index.ts
  packages/common/src/ui/components/inputs/DatePickers/index.ts
  packages/common/src/ui/components/inputs/TextInput/BasicTextInput.tsx
  packages/common/src/ui/components/inputs/index.ts
Labels: Status: In progress, common/library

#599 #562 Remove selecting of a customer when creating a stocktake
  packages/inventory/src/Stocktake/ListView/ListView.tsx
Labels: Status: In progress, stocktake

#601 #568 stocktake description field
  packages/inventory/src/Stocktake/DetailView/Toolbar.tsx
  packages/inventory/src/Stocktake/DetailView/api.ts
  packages/inventory/src/Stocktake/DetailView/reducer.ts
Labels: Status: In progress, stocktake

#602 #586 stocktake date
  codegen.yml
  packages/common/package.json
  packages/common/src/intl/locales/en/inventory.json
  packages/common/src/intl/locales/index.ts
  packages/common/src/types/schema.ts
  packages/inventory/src/Stocktake/DetailView/Toolbar.tsx
  packages/inventory/src/Stocktake/DetailView/api.ts
  packages/inventory/src/Stocktake/DetailView/reducer.ts
  packages/inventory/src/types.ts
  packages/inventory/src/utils.ts
  packages/mock-server/src/data/data.ts
  packages/mock-server/src/data/database.ts
  packages/system/src/Stock/ListView/api.ts
  packages/system/src/Stock/types.ts
  yarn.lock
Labels: Status: In progress, stocktake

#603 #600 stocktake entry and entered date fields
  packages/common/src/operations.graphql
  packages/common/src/schema.graphql
  packages/common/src/types/schema.ts
  packages/common/src/ui/layout/tables/utils/ColumnDefinitionSetBuilder.ts
  packages/inventory/src/Stocktake/DetailView/SidePanel.tsx
  packages/inventory/src/Stocktake/DetailView/Toolbar.tsx
  packages/inventory/src/Stocktake/DetailView/api.ts
  packages/inventory/src/Stocktake/DetailView/reducer.ts
  packages/inventory/src/Stocktake/ListView/ListView.tsx
  packages/inventory/src/types.ts
  packages/inventory/src/utils.ts
  packages/mock-server/src/data/data.ts
  packages/mock-server/src/data/database.ts
Labels: Status: In progress, Mocks, stocktake

#604 #588 locked stocktake
  packages/common/src/operations.graphql
  packages/common/src/schema.graphql
  packages/common/src/types/schema.ts
  packages/inventory/src/Stocktake/DetailView/Footer.tsx
  packages/inventory/src/Stocktake/DetailView/api.ts
  packages/inventory/src/Stocktake/DetailView/reducer.ts
  packages/inventory/src/types.ts
  packages/inventory/src/utils.ts
  packages/mock-server/src/data/data.ts
  packages/mock-server/src/data/database.ts
Labels: Status: In progress, stocktake

#605 Add status translations and handling of save & next status button
  packages/common/src/intl/locales/en/inventory.json
  packages/common/src/schema.graphql
  packages/common/src/types/schema.ts
  packages/common/src/ui/components/inputs/DatePickers/DatePickerInput/DatePickerInput.tsx
  packages/inventory/src/Stocktake/DetailView/Footer.tsx
  packages/inventory/src/Stocktake/DetailView/Toolbar.tsx
  packages/inventory/src/Stocktake/DetailView/reducer.ts
  packages/inventory/src/Stocktake/ListView/ListView.tsx
  packages/inventory/src/types.ts
  packages/inventory/src/utils.ts
  packages/mock-server/src/data/data.ts
  packages/mock-server/src/data/database.ts
Labels: Status: To do, stocktake

#606 #585 Add item columns and summary items to stocktake detail view
  packages/common/src/intl/locales/en/common.json
  packages/common/src/intl/locales/en/inventory.json
  packages/common/src/ui/layout/tables/hooks/useColumns/useColumns.tsx
  packages/common/src/utils/arrays/utils.ts
  packages/inventory/src/Stocktake/DetailView/DetailView.tsx
  packages/inventory/src/Stocktake/DetailView/reducer.ts
  packages/inventory/src/Stocktake/ListView/ListView.tsx
  packages/inventory/src/types.ts
  packages/mock-server/src/data/data.ts
Labels: Status: In progress, stocktake

#607 #587 stocktake edit item 1
  packages/common/src/intl/locales/en/common.json
  packages/common/src/intl/locales/en/inventory.json
  packages/inventory/src/Stocktake/DetailView/DetailView.tsx
  packages/inventory/src/Stocktake/DetailView/api.ts
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/StocktakeLineEdit.tsx
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/StocktakeLineEditForm.tsx
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/StocktakeLineEditTables.tsx
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/index.ts
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/utils.ts
  packages/inventory/src/Stocktake/DetailView/reducer.ts
  packages/inventory/src/types.ts
  packages/invoices/src/InboundShipment/DetailView/modals/InboundLineEdit/utils.ts
Labels: Status: In progress, Blocked, stocktake, needs details/discussion

#610 #559 requisition list view columns
  packages/common/src/intl/locales/en/common.json
  packages/common/src/operations.graphql
  packages/common/src/schema.graphql
  packages/common/src/types/schema.ts
  packages/common/src/ui/layout/tables/utils/ColumnDefinitionSetBuilder.ts
  packages/mock-server/src/data/data.ts
  packages/mock-server/src/worker/handlers/requisition/index.ts
  packages/requisitions/src/CustomerRequisition/DetailView/api.ts
  packages/requisitions/src/CustomerRequisition/ListView/ListView.tsx
  packages/requisitions/src/CustomerRequisition/ListView/api.ts
  packages/requisitions/src/SupplierRequisition/DetailView/api.ts
  packages/requisitions/src/SupplierRequisition/ListView/ListView.tsx
  packages/requisitions/src/SupplierRequisition/ListView/api.ts
  packages/requisitions/src/types.ts
Labels: Status: In progress, supplier requisition, customer requisition

#611 #589 requisition order and requisition dates
  packages/common/src/intl/locales/en/distribution.json
  packages/common/src/operations.graphql
  packages/common/src/schema.graphql
  packages/common/src/types/schema.ts
  packages/mock-server/src/data/data.ts
  packages/requisitions/src/CustomerRequisition/DetailView/Toolbar.tsx
  packages/requisitions/src/CustomerRequisition/DetailView/api.ts
  packages/requisitions/src/CustomerRequisition/DetailView/reducer.ts
  packages/requisitions/src/SupplierRequisition/DetailView/Toolbar.tsx
  packages/requisitions/src/SupplierRequisition/DetailView/api.ts
  packages/requisitions/src/SupplierRequisition/DetailView/reducer.ts
  packages/requisitions/src/types.ts
  packages/requisitions/src/utils.ts
Labels: Status: In progress, customer requisition

#615 Update readme
  README.md
Labels: Chore

#613 disable stats file in development
  packages/host/webpack.config.js
Labels: Chore

#614 Add shift all additions out to separate file
  codegen.yml
  packages/common/src/additions.schema.graphql
  packages/common/src/schema.graphql
  packages/common/src/types/schema.ts
Labels: Status: In progress, Chore

#617 #556 update gql schema 2
  codegen.yml
  packages/common/src/additions.schema.graphql
  packages/common/src/operations.graphql
  packages/common/src/schema.graphql
  packages/common/src/types/schema.ts
  packages/invoices/src/InboundShipment/DetailView/api.ts
  packages/invoices/src/types.ts
  packages/mock-server/package.json
  packages/mock-server/src/api/resolvers/invoiceLine.ts
  packages/mock-server/src/data/types.ts
  packages/mock-server/src/index.ts
  yarn.lock
Labels: Status: In progress, Chore

#624 limit server setup in tests
  jest-setup.ts
  packages/common/src/hooks/useListData/useListData.test.tsx
  packages/invoices/src/OutboundShipment/ListView/ListView.test.tsx
Labels: Status: To do, Chore

#629 #618 existing lines
  packages/common/src/intl/locales/en/common.json
  packages/common/src/types/index.ts
  packages/common/src/ui/layout/tables/components/index.tsx
  packages/inventory/src/Stocktake/DetailView/api.ts
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/StocktakeLineEdit.tsx
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/StocktakeLineEditTables.tsx
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/StocktakeLinePanel.tsx
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/utils.ts
  packages/inventory/src/types.ts
Labels: Status: In progress, stocktake

#673 #667 inbound grouping
  packages/common/src/intl/locales/en/replenishment.json
  packages/common/src/ui/layout/tables/DataTable.tsx
  packages/common/src/ui/layout/tables/columns/EditableQuantityColumn.tsx
  packages/common/src/ui/layout/tables/columns/NameAndColorColumn.tsx
  packages/common/src/ui/layout/tables/columns/NotePopoverColumn/NotePopoverColumn.tsx
  packages/common/src/ui/layout/tables/columns/RowExpand/RowExpand.tsx
  packages/common/src/ui/layout/tables/columns/types.ts
  packages/common/src/ui/layout/tables/components/Cells/CurrencyInputCell/CurrencyInputCell.tsx
  packages/common/src/ui/layout/tables/components/Cells/NumberInputCell/NumberInputCell.tsx
  packages/common/src/ui/layout/tables/components/Cells/TextInputCell/TextInputCell.tsx
  packages/common/src/ui/layout/tables/components/DataRow/DataRow.stories.tsx
  packages/common/src/ui/layout/tables/components/DataRow/DataRow.test.tsx
  packages/common/src/ui/layout/tables/components/DataRow/DataRow.tsx
  packages/common/src/ui/layout/tables/components/index.tsx
  packages/common/src/ui/layout/tables/hooks/useColumns/useColumns.tsx
  packages/common/src/utils/arrays/index.ts
  packages/common/src/utils/arrays/utils.ts
  packages/common/src/utils/index.ts
  packages/invoices/src/InboundShipment/DetailView/DetailView.tsx
  packages/invoices/src/InboundShipment/DetailView/Footer.tsx
  packages/invoices/src/InboundShipment/DetailView/GeneralTab.tsx
  packages/invoices/src/InboundShipment/DetailView/SidePanel.tsx
  packages/invoices/src/InboundShipment/DetailView/Toolbar.tsx
  packages/invoices/src/InboundShipment/DetailView/api.ts
  packages/invoices/src/InboundShipment/DetailView/columns.ts
  packages/invoices/src/InboundShipment/DetailView/modals/InboundLineEdit/InboundLineEditForm.tsx
  packages/invoices/src/InboundShipment/DetailView/modals/InboundLineEdit/TabTables.tsx
  packages/invoices/src/InboundShipment/ListView/ListView.tsx
  packages/invoices/src/OutboundShipment/DetailView/DetailView.tsx
  packages/invoices/src/OutboundShipment/DetailView/reducer.test.ts
  packages/invoices/src/OutboundShipment/ListView/ListView.tsx
  packages/invoices/src/types.ts
  packages/invoices/src/utils.ts
  packages/mock-server/src/data/data.ts
  packages/mock-server/src/worker/handlers/requisition/index.ts
  packages/requisitions/src/CustomerRequisition/ListView/ListView.tsx
  packages/requisitions/src/SupplierRequisition/DetailView/DetailView.tsx
  packages/requisitions/src/SupplierRequisition/ListView/ListView.tsx
  tsconfig.json
Labels: inbound

#674 Add fix mock server types
  packages/inventory/src/types.ts
  packages/mock-server/src/api/resolvers/name.ts
  packages/mock-server/src/api/resolvers/stocktake.ts
  packages/mock-server/src/data/data.ts
  packages/mock-server/src/data/database.ts
  packages/mock-server/src/data/types.ts
  packages/mock-server/src/schema/Invoice.ts
  packages/mock-server/src/schema/Name.ts
  packages/mock-server/src/schema/Requisition.ts
  packages/mock-server/src/schema/Stocktake.ts
  packages/mock-server/tsconfig.json
Labels: Status: In progress, Chore

#678 #677 inbound detail view crash
  packages/common/src/ui/components/navigation/Breadcrumbs/Breadcrumbs.test.tsx
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/StocktakeLineEditTables.tsx
  packages/invoices/src/InboundShipment/DetailView/Footer.tsx
  packages/invoices/src/InboundShipment/DetailView/Toolbar.tsx
Labels: Status: In progress, inbound

#681 Add updated requisition types
  packages/common/src/additions.schema.graphql
  packages/common/src/operations.graphql
  packages/common/src/types/schema.ts
  packages/common/src/ui/components/buttons/ColorSelectButton.tsx
  packages/requisitions/src/CustomerRequisition/DetailView/reducer.ts
  packages/requisitions/src/SupplierRequisition/DetailView/DetailView.tsx
  packages/requisitions/src/SupplierRequisition/DetailView/reducer.ts
  packages/requisitions/src/types.ts
  packages/requisitions/tsconfig.json
Labels: Status: In progress, Chore

#682 Add updated inventory types
  packages/common/src/intl/locales/en/inventory.json
  packages/inventory/src/Stocktake/DetailView/DetailView.tsx
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/StocktakeLineEdit.tsx
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/StocktakeLinePanel.tsx
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/utils.ts
  packages/inventory/src/utils.ts
  packages/inventory/tsconfig.json
Labels: Chore

#683 Add MiniTable expando component and use in outbound/inbound
  packages/common/src/ui/layout/tables/components/Expand/MiniTable.tsx
  packages/common/src/ui/layout/tables/components/Expand/index.ts
  packages/common/src/ui/layout/tables/components/index.tsx
  packages/invoices/src/InboundShipment/DetailView/GeneralTab.tsx
  packages/invoices/src/InboundShipment/DetailView/columns.ts
  packages/invoices/src/OutboundShipment/DetailView/tabs/GeneralTab.tsx
Labels: Status: In progress, inbound

#690 Add style updates
  packages/common/src/styles/theme.ts
  packages/common/src/ui/components/portals/DetailPanel/DetailPanel.tsx
  packages/common/src/ui/layout/tables/DataTable.tsx
  packages/host/src/Host.tsx
  packages/invoices/src/InboundShipment/DetailView/GeneralTab.tsx
  packages/invoices/src/OutboundShipment/DetailView/tabs/GeneralTab.tsx
Labels: Status: In progress, inbound

#695 #692 inbound optimistic onhold
  packages/invoices/src/InboundShipment/DetailView/DetailView.tsx
  packages/invoices/src/InboundShipment/DetailView/Footer.tsx
  packages/invoices/src/InboundShipment/DetailView/api.ts
Labels: Status: In progress, inbound

#697 #688 Handle multiple notes
  packages/common/src/ui/components/popover/BasePopover/usePopover.tsx
  packages/common/src/ui/layout/tables/columns/NotePopoverColumn/NotePopoverColumn.tsx
  packages/invoices/src/InboundShipment/DetailView/columns.ts
  packages/invoices/src/OutboundShipment/DetailView/DetailView.tsx
  packages/mock-server/src/data/data.ts
Labels: Status: In progress, inbound

#699 animate group transition
  packages/common/src/ui/layout/tables/DataTable.tsx
Labels: inbound, outbound

#701 Add simple locations hook
  packages/common/src/operations.graphql
  packages/common/src/types/schema.ts
  packages/invoices/src/InboundShipment/ListView/ListView.tsx
  packages/mock-server/src/api/resolvers/index.ts
  packages/mock-server/src/api/resolvers/invoiceLine.ts
  packages/mock-server/src/api/resolvers/location.ts
  packages/mock-server/src/api/resolvers/stockLine.ts
  packages/mock-server/src/data/data.ts
  packages/mock-server/src/data/database.ts
  packages/mock-server/src/data/types.ts
  packages/mock-server/src/index.ts
  packages/mock-server/src/schema/Location.ts
  packages/mock-server/src/schema/index.ts
  packages/mock-server/src/worker/handlers/index.ts
  packages/mock-server/src/worker/handlers/location/index.ts
  packages/system/src/Location/hooks/index.ts
  packages/system/src/Location/hooks/useLocations.ts
  packages/system/src/Location/index.ts
  packages/system/src/index.ts
Labels: Status: In progress, locations

#704 #703 locations to inbound
  packages/common/src/ui/components/inputs/CurrencyInput/CurrencyInput.tsx
  packages/invoices/src/InboundShipment/DetailView/DetailView.tsx
  packages/invoices/src/InboundShipment/DetailView/modals/InboundLineEdit/InboundLineEdit.tsx
  packages/invoices/src/InboundShipment/DetailView/modals/InboundLineEdit/InboundLineEditPanel.tsx
  packages/invoices/src/InboundShipment/DetailView/modals/InboundLineEdit/TabTables.tsx
Labels: Status: In progress, inbound, locations

#705 update RTL styles
  packages/common/src/hooks/useDialog/useDialog.tsx
  packages/common/src/ui/components/buttons/FlatButton.tsx
  packages/common/src/ui/components/buttons/standard/ShrinkableBaseButton.tsx
  packages/common/src/ui/components/domain/Dashboard/StatsPanel.tsx
  packages/common/src/ui/components/inputs/Switch/Switch.tsx
  packages/common/src/ui/components/modals/BasicModal/BasicModal.tsx
  packages/common/src/ui/components/navigation/Breadcrumbs/Breadcrumbs.tsx
  packages/common/src/ui/components/portals/DetailPanel/DetailPanel.tsx
  packages/common/src/ui/forms/Modal/ModalLabel.tsx
  packages/host/src/components/AppBar/AppBar.tsx
  packages/host/src/components/Footer/Footer.tsx
  packages/invoices/src/InboundShipment/DetailView/GeneralTab.tsx
  packages/invoices/src/OutboundShipment/DetailView/tabs/GeneralTab.tsx
Labels: common/library

#706 translation tidy
  packages/common/src/intl/locales/en/common.json
  packages/common/src/intl/locales/en/distribution.json
  packages/common/src/intl/locales/en/inventory.json
  packages/common/src/intl/locales/en/replenishment.json
  packages/common/src/ui/components/inputs/TextInput/TextInput.stories.tsx
  packages/invoices/src/InboundShipment/DetailView/Footer.tsx
  packages/invoices/src/InboundShipment/DetailView/GeneralTab.tsx
  packages/invoices/src/InboundShipment/DetailView/SidePanel.tsx
  packages/invoices/src/InboundShipment/DetailView/Toolbar.tsx
  packages/invoices/src/InboundShipment/DetailView/modals/InboundLineEdit/InboundLineEdit.tsx
  packages/invoices/src/InboundShipment/ListView/AppBarButtons.tsx
  packages/invoices/src/OutboundShipment/DetailView/Footer.tsx
  packages/invoices/src/OutboundShipment/DetailView/SidePanel.tsx
  packages/invoices/src/OutboundShipment/DetailView/Toolbar.tsx
  packages/requisitions/src/CustomerRequisition/DetailView/Footer.tsx
  packages/requisitions/src/CustomerRequisition/DetailView/SidePanel.tsx
  packages/requisitions/src/CustomerRequisition/ListView/AppBarButtons.tsx
  packages/requisitions/src/SupplierRequisition/DetailView/Footer.tsx
  packages/requisitions/src/SupplierRequisition/DetailView/SidePanel.tsx
  packages/requisitions/src/SupplierRequisition/DetailView/Toolbar.tsx
  packages/requisitions/src/SupplierRequisition/ListView/AppBarButtons.tsx
  packages/requisitions/src/SupplierRequisition/ListView/Toolbar.tsx
  packages/system/src/Stock/Components/Toolbar.tsx
Labels: tidy / refactor

#707 #703 locations to inbound
  packages/common/src/intl/locales/en/replenishment.json
  packages/common/src/operations.graphql
  packages/common/src/types/schema.ts
  packages/host/webpack.config.js
  packages/invoices/src/InboundShipment/DetailView/DetailView.tsx
  packages/invoices/src/InboundShipment/DetailView/api.ts
  packages/invoices/src/InboundShipment/DetailView/modals/InboundLineEdit/InboundLineEdit.tsx
  packages/invoices/src/InboundShipment/DetailView/modals/InboundLineEdit/TabTables.tsx
  packages/invoices/src/OutboundShipment/DetailView/api.ts
  packages/invoices/src/types.ts
  packages/mock-server/src/data/data.ts
  packages/mock-server/src/data/database.ts
  packages/mock-server/src/worker/handlers/invoice/index.ts
  packages/system/src/Location/Components/LocationInputColumn.tsx
  packages/system/src/Location/Components/LocationSearchInput.tsx
  packages/system/src/Location/Components/index.ts
  packages/system/src/Location/hooks/useLocations.ts
  packages/system/src/Location/index.ts
  packages/system/src/Location/types.ts
Labels: Status: In progress, inbound, locations

#708 #505 inbound expiry date edit
  packages/common/src/ui/components/inputs/Autocomplete/Autocomplete.tsx
  packages/common/src/ui/components/navigation/Tabs/Tabs.tsx
  packages/common/src/ui/layout/tables/columns/ExpiryDateInput/ExpiryDateInput.tsx
  packages/common/src/ui/layout/tables/columns/ExpiryDateInput/index.ts
  packages/common/src/ui/layout/tables/columns/index.ts
  packages/common/src/ui/layout/tables/components/Cells/CurrencyInputCell/CurrencyInputCell.tsx
  packages/common/src/ui/layout/tables/components/Cells/NumberInputCell/NumberInputCell.tsx
  packages/common/src/ui/layout/tables/hooks/useColumns/useColumns.test.tsx
  packages/common/src/ui/layout/tables/hooks/useColumns/useColumns.tsx
  packages/common/src/ui/layout/tables/utils/ColumnDefinitionSetBuilder.ts
  packages/common/src/utils/formatters.ts
  packages/common/src/utils/index.ts
  packages/invoices/src/InboundShipment/DetailView/DetailView.tsx
  packages/invoices/src/InboundShipment/DetailView/api.ts
  packages/invoices/src/InboundShipment/DetailView/columns.ts
  packages/invoices/src/InboundShipment/DetailView/modals/InboundLineEdit/InboundLineEdit.tsx
  packages/invoices/src/InboundShipment/DetailView/modals/InboundLineEdit/InboundLineEditPanel.tsx
  packages/invoices/src/InboundShipment/DetailView/modals/InboundLineEdit/TabTables.tsx
  packages/invoices/src/OutboundShipment/DetailView/api.ts
  packages/invoices/src/OutboundShipment/DetailView/modals/ItemDetailsModal.tsx
  packages/invoices/src/OutboundShipment/DetailView/reducer.ts
  packages/invoices/src/types.ts
  packages/mock-server/src/data/database.ts
  packages/system/src/Location/Components/LocationInputColumn.tsx
  packages/system/src/Location/Components/LocationSearchInput.tsx
Labels: inbound
