Repository openmsupply/openmsupply-client, pull requests merged in 2022-03, with the labels that each got.

#916 #888 refresh token
  packages/common/src/api/OmSupplyApiContext.tsx
  packages/common/src/authentication/AuthContext.tsx
  packages/common/src/authentication/api/api.ts
  packages/common/src/authentication/api/hooks/index.ts
  packages/common/src/authentication/api/hooks/useAuthApi.ts
  packages/common/src/authentication/api/hooks/useGetAuthToken.ts
  packages/common/src/authentication/api/hooks/useGetRefreshToken.ts
  packages/common/src/authentication/api/index.ts
  packages/common/src/authentication/api/operations.generated.ts
  packages/common/src/authentication/api/operations.graphql
  packages/common/src/authentication/index.ts
  packages/common/src/hooks/index.ts
  packages/common/src/hooks/useAuthState.ts
  packages/common/src/hooks/useHostContext.ts
  packages/common/src/index.ts
  packages/common/src/intl/intlHelpers.ts
  packages/common/src/localStorage/keys.ts
  packages/common/src/operations.graphql
  packages/common/src/types/index.ts
  packages/dashboard/src/api/hooks.ts
  packages/host/src/Host.tsx
  packages/host/src/components/AppDrawer/AppDrawer.tsx
  packages/host/src/components/Footer/Footer.tsx
  packages/host/src/components/Login/api.ts
  packages/host/src/components/Login/hooks.ts
  packages/host/src/components/Navigation/RequireAuthentication.tsx
  packages/inventory/src/Stocktake/api/hooks.ts
  packages/invoices/src/InboundShipment/Dashboard/Widget.tsx
  packages/invoices/src/InboundShipment/DetailView/api.ts
  packages/invoices/src/InboundShipment/ListView/ListView.tsx
  packages/invoices/src/OutboundShipment/Dashboard/Widget.tsx
  packages/invoices/src/OutboundShipment/ListView/ListView.tsx
  packages/invoices/src/OutboundShipment/api/hooks.ts
  packages/requisitions/src/RequestRequisition/api/hooks.ts
  packages/requisitions/src/ResponseRequisition/api/hooks.ts
  packages/system/src/Item/api/hooks/useItem/useItem.ts
  packages/system/src/Item/api/hooks/useItemListView/useItemListView.ts
  packages/system/src/Item/api/hooks/useItemsList/useItemsList.ts
  packages/system/src/Location/api/hooks.ts
  packages/system/src/MasterList/api/hooks.ts
  packages/system/src/Name/api/hooks.ts
  packages/system/src/Stock/api/hooks.ts
Labels: v1

#915 #494 Add foreign currency support
  packages/common/package.json
  packages/common/src/intl/intlHelpers.ts
  packages/common/src/ui/components/inputs/CurrencyInput/CurrencyInput.stories.tsx
  packages/common/src/ui/components/inputs/CurrencyInput/CurrencyInput.tsx
  packages/common/src/ui/layout/tables/components/Cells/CurrencyInputCell/CurrencyInputCell.tsx
  packages/invoices/src/InboundShipment/ListView/ListView.tsx
  packages/invoices/src/OutboundShipment/DetailView/columns.ts
  packages/invoices/src/OutboundShipment/DetailView/modals/OutboundLineEditTable.tsx
  packages/invoices/src/OutboundShipment/ListView/ListView.tsx
  packages/template/package.json
  yarn.lock
Labels: common/library, v1

#919 #917 shipment number for navigating
  packages/invoices/src/InboundShipment/Dashboard/Widget.tsx
  packages/invoices/src/InboundShipment/Dashboard/api.ts
  packages/invoices/src/InboundShipment/DetailView/AppBarButtons.tsx
  packages/invoices/src/InboundShipment/DetailView/DetailView.tsx
  packages/invoices/src/InboundShipment/DetailView/Footer/Footer.tsx
  packages/invoices/src/InboundShipment/DetailView/Footer/StatusChangeButton.tsx
  packages/invoices/src/InboundShipment/DetailView/GeneralTab.tsx
  packages/invoices/src/InboundShipment/DetailView/SidePanel.tsx
  packages/invoices/src/InboundShipment/DetailView/Toolbar.tsx
  packages/invoices/src/InboundShipment/DetailView/api.ts
  packages/invoices/src/InboundShipment/DetailView/modals/InboundLineEdit/InboundLineEdit.tsx
  packages/invoices/src/InboundShipment/DetailView/modals/InboundLineEdit/InboundLineEditForm.tsx
  packages/invoices/src/InboundShipment/ListView/ListView.tsx
  packages/invoices/src/InboundShipment/ListView/Toolbar.tsx
  packages/invoices/src/InboundShipment/ListView/api.ts
  packages/invoices/src/InboundShipment/api/api.ts
  packages/invoices/src/InboundShipment/api/hooks.ts
  packages/invoices/src/InboundShipment/api/operations.generated.ts
  packages/invoices/src/InboundShipment/api/operations.graphql
  packages/invoices/src/InvoiceService.tsx
Labels: Status: In progress, inbound, outbound

#921 #917 outbound shipment navigating with number
  packages/invoices/src/InvoiceService.tsx
  packages/invoices/src/OutboundShipment/Dashboard/Widget.tsx
  packages/invoices/src/OutboundShipment/Dashboard/api.ts
  packages/invoices/src/OutboundShipment/ListView/ListView.tsx
  packages/invoices/src/OutboundShipment/ListView/Toolbar.tsx
  packages/invoices/src/OutboundShipment/ListView/api.ts
  packages/invoices/src/OutboundShipment/api/api.ts
  packages/invoices/src/OutboundShipment/api/hooks.ts
  packages/invoices/src/OutboundShipment/api/operations.generated.ts
  packages/invoices/src/OutboundShipment/api/operations.graphql
Labels: Status: In progress, inbound, outbound

#922 #885 request requisition should filter out responses
  packages/requisitions/src/RequestRequisition/api/api.ts
  packages/requisitions/src/RequestRequisition/api/hooks.ts
  packages/requisitions/src/ResponseRequisition/api/api.ts
  packages/requisitions/src/ResponseRequisition/api/hooks.ts
Labels: Status: In progress, supplier requisition, v1

#927 #911 invoice type cleanup
  packages/invoices/src/InboundShipment/api/operations.generated.ts
  packages/invoices/src/InboundShipment/api/operations.graphql
  packages/invoices/src/OutboundShipment/DetailView/ContentArea.tsx
  packages/invoices/src/OutboundShipment/DetailView/DetailView.tsx
  packages/invoices/src/OutboundShipment/DetailView/SidePanel.tsx
  packages/invoices/src/OutboundShipment/DetailView/columns.ts
  packages/invoices/src/OutboundShipment/DetailView/modals/OutboundLineEditTable.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/hooks/useDraftOutboundLines.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/hooks/useNextItem.test.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/hooks/useNextItem.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/hooks/usePackSizeController.test.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/hooks/usePackSizeController.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/utils.test.ts
  packages/invoices/src/OutboundShipment/DetailView/modals/utils.ts
  packages/invoices/src/OutboundShipment/api/api.ts
  packages/invoices/src/OutboundShipment/api/hooks.ts
  packages/invoices/src/OutboundShipment/api/operations.generated.ts
  packages/invoices/src/OutboundShipment/api/operations.graphql
  packages/invoices/src/types.ts
  packages/invoices/src/utils.ts
  packages/system/src/Item/api/hooks/useStockLines/useStockLines.tsx
  packages/system/src/Item/types.ts
  packages/system/src/Item/utils.ts
Labels: Status: In progress, inbound, outbound

#928 #911 invoice type cleanup 2
  packages/common/src/types/index.ts
  packages/inventory/src/Stocktake/api/hooks.ts
  packages/invoices/src/InboundShipment/DetailView/DetailView.tsx
  packages/invoices/src/InboundShipment/DetailView/Footer/Footer.tsx
  packages/invoices/src/InboundShipment/DetailView/GeneralTab.tsx
  packages/invoices/src/InboundShipment/DetailView/Toolbar.tsx
  packages/invoices/src/InboundShipment/DetailView/columns.ts
  packages/invoices/src/InboundShipment/DetailView/modals/InboundLineEdit/InboundLineEdit.tsx
  packages/invoices/src/InboundShipment/DetailView/modals/InboundLineEdit/InboundLineEditPanel.tsx
  packages/invoices/src/InboundShipment/DetailView/modals/InboundLineEdit/TabTables.tsx
  packages/invoices/src/InboundShipment/ListView/ListView.tsx
  packages/invoices/src/InboundShipment/ListView/Toolbar.tsx
  packages/invoices/src/InboundShipment/api/api.ts
  packages/invoices/src/InboundShipment/api/hooks.ts
  packages/invoices/src/InboundShipment/api/operations.generated.ts
  packages/invoices/src/InboundShipment/api/operations.graphql
  packages/invoices/src/OutboundShipment/DetailView/ContentArea.tsx
  packages/invoices/src/OutboundShipment/DetailView/DetailView.tsx
  packages/invoices/src/OutboundShipment/DetailView/Footer/Footer.tsx
  packages/invoices/src/OutboundShipment/DetailView/columns.ts
  packages/invoices/src/OutboundShipment/DetailView/modals/hooks/useDraftOutboundLines.tsx
  packages/invoices/src/OutboundShipment/ListView/ListView.tsx
  packages/invoices/src/OutboundShipment/ListView/Toolbar.tsx
  packages/invoices/src/OutboundShipment/api/api.ts
  packages/invoices/src/OutboundShipment/api/hooks.ts
  packages/invoices/src/OutboundShipment/api/index.ts
  packages/invoices/src/OutboundShipment/api/operations.generated.ts
  packages/invoices/src/OutboundShipment/api/operations.graphql
  packages/invoices/src/types.ts
  packages/invoices/src/utils.ts
  packages/system/src/Item/types.ts
  packages/system/src/Item/utils.ts
Labels: Status: In progress, inbound, outbound

#934 #920 list view color mutation
  packages/inventory/src/Stocktake/api/hooks.ts
  packages/invoices/src/InboundShipment/ListView/AppBarButtons.tsx
  packages/invoices/src/InboundShipment/ListView/ListView.tsx
  packages/invoices/src/InboundShipment/api/api.ts
  packages/invoices/src/InboundShipment/api/hooks.ts
  packages/requisitions/src/RequestRequisition/ListView/AppBarButtons.tsx
  packages/requisitions/src/RequestRequisition/ListView/ListView.tsx
  packages/requisitions/src/RequestRequisition/api/api.ts
  packages/requisitions/src/RequestRequisition/api/hooks.ts
  packages/requisitions/src/RequestRequisition/api/operations.generated.ts
  packages/requisitions/src/RequestRequisition/api/operations.graphql
  packages/requisitions/src/ResponseRequisition/ListView/ListView.tsx
  packages/requisitions/src/ResponseRequisition/api/hooks.ts
Labels: inbound, outbound, supplier requisition, customer requisition

#937 #923 placeholder row indication
  packages/common/src/styles/index.ts
  packages/common/src/ui/layout/tables/components/DataRow/DataRow.tsx
  packages/common/src/ui/layout/tables/context/TableContext.test.tsx
  packages/common/src/ui/layout/tables/context/TableContext.ts
  packages/common/src/ui/layout/tables/context/hooks/index.ts
  packages/common/src/ui/layout/tables/context/hooks/useExpanded.ts
  packages/common/src/ui/layout/tables/context/hooks/useIsDisabled.ts
  packages/common/src/ui/layout/tables/context/hooks/useIsGrouped.ts
  packages/common/src/ui/layout/tables/context/hooks/useRowStyle.ts
  packages/common/src/ui/layout/tables/context/index.ts
  packages/invoices/src/InboundShipment/DetailView/columns.ts
  packages/invoices/src/InboundShipment/api/operations.generated.ts
  packages/invoices/src/InboundShipment/api/operations.graphql
  packages/invoices/src/OutboundShipment/DetailView/ContentArea.tsx
  packages/invoices/src/OutboundShipment/DetailView/columns.ts
  packages/invoices/src/OutboundShipment/DetailView/modals/hooks/useDraftOutboundLines.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/utils.test.ts
  packages/invoices/src/OutboundShipment/api/api.ts
  packages/invoices/src/OutboundShipment/api/hooks.ts
  packages/invoices/src/OutboundShipment/api/operations.generated.ts
  packages/invoices/src/OutboundShipment/api/operations.graphql
  packages/invoices/src/utils.ts
  packages/system/src/Location/api/operations.generated.ts
  packages/system/src/Location/api/operations.graphql
Labels: outbound

#938 #925 custom currency formatter
  __mocks__/react-i18next.ts
  jest.config.js
  packages/common/src/intl/IntlTestProvider.tsx
  packages/common/src/intl/currency.test.tsx
  packages/common/src/intl/currency.ts
  packages/common/src/intl/index.ts
  packages/common/src/intl/intlHelpers.ts
  packages/common/src/ui/layout/tables/utils/ColumnDefinitionSetBuilder.ts
  packages/common/src/utils/testing.tsx
  packages/invoices/src/InboundShipment/DetailView/columns.ts
Labels: common/library

#939 Add adjust item search input and remove use of Item type
  packages/common/src/types/index.ts
  packages/common/src/ui/layout/tables/components/Header/Header.stories.tsx
  packages/common/src/ui/layout/tables/components/Header/Header.test.tsx
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/StocktakeLineEditForm.tsx
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/hooks.ts
  packages/invoices/src/InboundShipment/DetailView/DetailView.tsx
  packages/invoices/src/InboundShipment/DetailView/modals/InboundLineEdit/InboundLineEdit.tsx
  packages/invoices/src/InboundShipment/DetailView/modals/InboundLineEdit/InboundLineEditForm.tsx
  packages/invoices/src/InboundShipment/api/hooks.ts
  packages/invoices/src/OutboundShipment/DetailView/DetailView.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/OutboundLineEdit.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/OutboundLineEditForm.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/hooks/useDraftOutboundLines.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/hooks/useNextItem.tsx
  packages/requisitions/src/RequestRequisition/DetailView/DetailView.tsx
  packages/requisitions/src/RequestRequisition/DetailView/RequestLineEdit/RequestLineEdit.tsx
  packages/requisitions/src/RequestRequisition/DetailView/RequestLineEdit/RequestLineEditForm.tsx
  packages/system/src/Item/Components/ItemSearchInput/ItemSearchInput.stories.tsx
  packages/system/src/Item/Components/ItemSearchInput/ItemSearchInput.tsx
  packages/system/src/Item/api/api.ts
  packages/system/src/Item/api/hooks/index.ts
  packages/system/src/Item/api/hooks/useItem/useItem.ts
  packages/system/src/Item/api/hooks/useItemApi/useItemApi.ts
  packages/system/src/Item/api/hooks/useItemListView/useItemListView.ts
  packages/system/src/Item/api/hooks/useItemsList/useItemsList.ts
  packages/system/src/Item/api/hooks/useItemsWithStats/index.ts
  packages/system/src/Item/api/hooks/useItemsWithStats/useItemsWithStats.tsx
  packages/system/src/Item/api/hooks/useStockLines/useStockLines.tsx
  packages/system/src/Item/api/operations.generated.ts
  packages/system/src/Item/api/operations.graphql
  packages/system/src/Item/utils.ts
Labels: Status: To do, system

#943 #929 system types common
  packages/common/src/authentication/AuthContext.tsx
  packages/common/src/localStorage/keys.ts
  packages/common/src/types/index.ts
  packages/host/src/components/Login/Login.tsx
  packages/invoices/src/OutboundShipment/Dashboard/Widget.tsx
  packages/invoices/src/OutboundShipment/ListView/ListView.tsx
  packages/requisitions/src/types.ts
  packages/system/src/Name/Components/NameSearchInput/NameSearchInput.stories.tsx
  packages/system/src/Name/Components/NameSearchInput/NameSearchInput.tsx
  packages/system/src/Name/Components/NameSearchModal/NameSearchModal.tsx
  packages/system/src/Name/ListView/ListView.tsx
  packages/system/src/Name/api/api.ts
  packages/system/src/Name/api/hooks.ts
  packages/system/src/Name/api/index.ts
  packages/system/src/Name/api/operations.generated.ts
  packages/system/src/Name/api/operations.graphql
  packages/system/src/Store/api/hooks.ts
  packages/system/src/Store/api/index.ts
  packages/system/src/Store/api/operations.generated.ts
  packages/system/src/Store/api/operations.graphql
Labels: Status: In progress, system

#944 Add find and replace for DomainObject -> RecordWithId
  packages/common/src/hooks/useQueryParams/useQueryParams.ts
  packages/common/src/hooks/useSortBy/useSortBy.ts
  packages/common/src/types/index.ts
  packages/common/src/types/utility.ts
  packages/common/src/ui/layout/tables/DataTable.tsx
  packages/common/src/ui/layout/tables/columns/CheckboxSelectionColumn.tsx
  packages/common/src/ui/layout/tables/columns/EditableQuantityColumn.tsx
  packages/common/src/ui/layout/tables/columns/ExpiryDateInput/ExpiryDateInput.tsx
  packages/common/src/ui/layout/tables/columns/LineLabel/LineLabel.tsx
  packages/common/src/ui/layout/tables/columns/NameAndColorColumn.tsx
  packages/common/src/ui/layout/tables/columns/NotePopoverColumn/NotePopoverColumn.tsx
  packages/common/src/ui/layout/tables/columns/RowExpand/RowExpand.tsx
  packages/common/src/ui/layout/tables/columns/types.ts
  packages/common/src/ui/layout/tables/components/Cells/CurrencyInputCell/CurrencyInputCell.tsx
  packages/common/src/ui/layout/tables/components/Cells/NumberInputCell/NumberInputCell.tsx
  packages/common/src/ui/layout/tables/components/Cells/TextInputCell/TextInputCell.tsx
  packages/common/src/ui/layout/tables/components/DataRow/DataRow.tsx
  packages/common/src/ui/layout/tables/components/Expand/MiniTable.tsx
  packages/common/src/ui/layout/tables/components/Header/Header.tsx
  packages/common/src/ui/layout/tables/components/index.tsx
  packages/common/src/ui/layout/tables/hooks/useColumns/useColumns.test.tsx
  packages/common/src/ui/layout/tables/hooks/useColumns/useColumns.tsx
  packages/common/src/ui/layout/tables/types.ts
  packages/common/src/ui/layout/tables/utils/ColumnDefinitionSetBuilder.test.ts
  packages/common/src/ui/layout/tables/utils/ColumnDefinitionSetBuilder.ts
  packages/invoices/src/InboundShipment/DetailView/GeneralTab.tsx
  packages/system/src/Location/Components/LocationInputColumn.tsx
Labels: Status: In progress, system

#945 #571 Outbound service lines
  packages/common/src/intl/locales/en/common.json
  packages/common/src/intl/locales/en/distribution.json
  packages/common/src/ui/forms/Panel/PanelLabel.tsx
  packages/common/src/ui/forms/Panel/PanelRow.tsx
  packages/invoices/src/OutboundShipment/DetailView/DetailView.tsx
  packages/invoices/src/OutboundShipment/DetailView/OutboundLineEdit/OutboundLineEdit.tsx
  packages/invoices/src/OutboundShipment/DetailView/OutboundLineEdit/OutboundLineEditForm.tsx
  packages/invoices/src/OutboundShipment/DetailView/OutboundLineEdit/OutboundLineEditTable.tsx
  packages/invoices/src/OutboundShipment/DetailView/OutboundLineEdit/hooks/index.ts
  packages/invoices/src/OutboundShipment/DetailView/OutboundLineEdit/hooks/useDraftOutboundLines.tsx
  packages/invoices/src/OutboundShipment/DetailView/OutboundLineEdit/hooks/useNextItem.test.tsx
  packages/invoices/src/OutboundShipment/DetailView/OutboundLineEdit/hooks/useNextItem.tsx
  packages/invoices/src/OutboundShipment/DetailView/OutboundLineEdit/hooks/usePackSizeController.test.tsx
  packages/invoices/src/OutboundShipment/DetailView/OutboundLineEdit/hooks/usePackSizeController.tsx
  packages/invoices/src/OutboundShipment/DetailView/OutboundLineEdit/index.ts
  packages/invoices/src/OutboundShipment/DetailView/OutboundLineEdit/utils.test.ts
  packages/invoices/src/OutboundShipment/DetailView/OutboundLineEdit/utils.ts
  packages/invoices/src/OutboundShipment/DetailView/OutboundServiceLineEdit/OutboundServiceLineEdit.tsx
  packages/invoices/src/OutboundShipment/DetailView/OutboundServiceLineEdit/index.ts
  packages/invoices/src/OutboundShipment/DetailView/SidePanel.tsx
  packages/invoices/src/OutboundShipment/api/api.ts
Labels: Status: To do, inbound, outbound, needs details/discussion

#955 Validate stocktake line inputs
  packages/common/src/ui/layout/tables/components/Cells/NumberInputCell/NonNegativeNumberInputCell.tsx
  packages/common/src/ui/layout/tables/components/Cells/NumberInputCell/PositiveNumberInputCell.tsx
  packages/common/src/ui/layout/tables/components/Cells/NumberInputCell/index.ts
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/StocktakeLineEditTables.tsx
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/StocktakeLinePanel.tsx
  packages/invoices/src/InboundShipment/DetailView/modals/InboundLineEdit/TabTables.tsx
Labels: v1

#952 #950 broken tests bonanza
  jest.config.js
  packages/common/package.json
  packages/common/src/hooks/useDetailPanel/useDetailPanel.test.tsx
  packages/common/src/hooks/useDialog/useDialog.test.tsx
  packages/common/src/intl/IntlTestProvider.tsx
  packages/common/src/intl/currency.test.tsx
  packages/common/src/styles/RTLProvider.test.tsx
  packages/common/src/styles/useAppTheme.test.tsx
  packages/common/src/ui/components/menus/ColorMenu/ColorMenu.test.tsx
  packages/common/src/ui/components/navigation/Breadcrumbs/Breadcrumbs.test.tsx
  packages/common/src/ui/components/popover/BasePopover/BasePopover.test.tsx
  packages/common/src/ui/components/popover/BasePopover/usePopover.test.tsx
  packages/common/src/ui/components/portals/DetailPanel/DetailPanel.test.tsx
  packages/common/src/ui/layout/tables/components/Cells/NumberInputCell/NonNegativeNumberInputCell.tsx
  packages/common/src/ui/layout/tables/components/Cells/NumberInputCell/PositiveNumberInputCell.tsx
  packages/common/src/utils/index.ts
  packages/common/src/utils/testing.tsx
  packages/host/src/components/AppDrawer/AppDrawer.test.tsx
  packages/invoices/src/OutboundShipment/DetailView/OutboundLineEdit/hooks/usePackSizeController.test.tsx
Labels: Chore

#953 #932 requisition fragment renaming
  packages/requisitions/src/RequestRequisition/DetailView/ContentArea.tsx
  packages/requisitions/src/RequestRequisition/DetailView/DetailView.tsx
  packages/requisitions/src/RequestRequisition/DetailView/Footer/Footer.tsx
  packages/requisitions/src/RequestRequisition/DetailView/Footer/StatusChangeButton.tsx
  packages/requisitions/src/RequestRequisition/DetailView/RequestLineEdit/RequestLineEdit.tsx
  packages/requisitions/src/RequestRequisition/DetailView/RequestLineEdit/RequestLineEditForm.tsx
  packages/requisitions/src/RequestRequisition/DetailView/RequestLineEdit/hooks.tsx
  packages/requisitions/src/RequestRequisition/DetailView/SidePanel.tsx
  packages/requisitions/src/RequestRequisition/DetailView/Toolbar.tsx
  packages/requisitions/src/RequestRequisition/DetailView/columns.ts
  packages/requisitions/src/RequestRequisition/ListView/AppBarButtons.tsx
  packages/requisitions/src/RequestRequisition/ListView/ListView.tsx
  packages/requisitions/src/RequestRequisition/ListView/Toolbar.tsx
  packages/requisitions/src/RequestRequisition/api/api.ts
  packages/requisitions/src/RequestRequisition/api/hooks.ts
  packages/requisitions/src/RequestRequisition/api/operations.generated.ts
  packages/requisitions/src/RequestRequisition/api/operations.graphql
  packages/requisitions/src/ResponseRequisition/DetailView/ContentArea.tsx
  packages/requisitions/src/ResponseRequisition/DetailView/DetailView.tsx
  packages/requisitions/src/ResponseRequisition/DetailView/Footer/Footer.tsx
  packages/requisitions/src/ResponseRequisition/DetailView/Footer/StatusChangeButton.tsx
  packages/requisitions/src/ResponseRequisition/DetailView/ResponseLineEdit/ResponseLineEdit.tsx
  packages/requisitions/src/ResponseRequisition/DetailView/ResponseLineEdit/hooks.tsx
  packages/requisitions/src/ResponseRequisition/DetailView/SidePanel.tsx
  packages/requisitions/src/ResponseRequisition/DetailView/Toolbar.tsx
  packages/requisitions/src/ResponseRequisition/DetailView/columns.ts
  packages/requisitions/src/ResponseRequisition/ListView/ListView.tsx
  packages/requisitions/src/ResponseRequisition/ListView/Toolbar.tsx
  packages/requisitions/src/ResponseRequisition/api/api.ts
  packages/requisitions/src/ResponseRequisition/api/hooks.ts
  packages/requisitions/src/ResponseRequisition/api/operations.generated.ts
  packages/requisitions/src/ResponseRequisition/api/operations.graphql
  packages/requisitions/src/utils.ts
Labels: supplier requisition, customer requisition

#956 #931 Query key factory for inbound
  packages/common/src/api/hooks/useFieldsSelector/useFieldsSelector.ts
  packages/common/src/api/hooks/useQuerySelector/useQuerySelector.ts
  packages/invoices/src/InboundShipment/api/api.ts
  packages/invoices/src/InboundShipment/api/hooks.ts
Labels: Chore

#964 #962 Yarn generate output
  packages/common/src/authentication/api/operations.generated.ts
  packages/common/src/types/schema.ts
  packages/dashboard/src/api/operations.generated.ts
  packages/inventory/src/Stocktake/api/api.ts
  packages/inventory/src/Stocktake/api/operations.generated.ts
  packages/invoices/src/InboundShipment/api/operations.generated.ts
  packages/invoices/src/OutboundShipment/api/operations.generated.ts
  packages/requisitions/src/RequestRequisition/api/operations.generated.ts
  packages/requisitions/src/ResponseRequisition/api/operations.generated.ts
  packages/system/src/Item/api/operations.generated.ts
  packages/system/src/Location/api/operations.generated.ts
  packages/system/src/MasterList/api/operations.generated.ts
  packages/system/src/Name/api/operations.generated.ts
  packages/system/src/Stock/api/operations.generated.ts
  packages/system/src/Store/api/operations.generated.ts
Labels: Chore

#966 add store selector
  packages/common/src/authentication/AuthContext.tsx
  packages/common/src/intl/locales/en/app.json
  packages/host/src/components/Footer/Footer.tsx
  packages/host/src/components/Footer/StoreSelector.tsx
Labels: Status: In progress

#968 #962 yarn generate api fixes - The PR that all of NZ is talking about -- [1]
  packages/invoices/src/InboundShipment/api/operations.generated.ts
  packages/invoices/src/InboundShipment/api/operations.graphql
  packages/invoices/src/OutboundShipment/api/operations.generated.ts
  packages/invoices/src/OutboundShipment/api/operations.graphql
  packages/requisitions/src/RequestRequisition/api/operations.generated.ts
  packages/requisitions/src/RequestRequisition/api/operations.graphql
  packages/requisitions/src/ResponseRequisition/api/operations.generated.ts
  packages/requisitions/src/ResponseRequisition/api/operations.graphql
Labels: Chore

#967 #931 query key factories 2 - He ate 4 things every day and didn't get lung cancer -- [2]
  packages/common/src/authentication/api/api.ts
  packages/common/src/authentication/api/hooks/useAuthApi.ts
  packages/common/src/authentication/api/hooks/useGetAuthToken.ts
  packages/common/src/authentication/api/hooks/useGetRefreshToken.ts
  packages/dashboard/src/api/index.ts
  packages/inventory/src/Stocktake/api/api.ts
  packages/inventory/src/Stocktake/api/hooks.ts
  packages/inventory/src/Stocktake/api/index.ts
  packages/invoices/src/InboundShipment/ListView/AppBarButtons.tsx
  packages/invoices/src/InboundShipment/api/hooks.ts
  packages/invoices/src/InboundShipment/api/index.ts
  packages/invoices/src/OutboundShipment/DetailView/OutboundLineEdit/OutboundLineEdit.tsx
  packages/invoices/src/OutboundShipment/api/api.ts
  packages/invoices/src/OutboundShipment/api/hooks.ts
  packages/invoices/src/OutboundShipment/api/index.ts
  packages/requisitions/src/RequestRequisition/api/api.ts
  packages/requisitions/src/RequestRequisition/api/hooks.ts
  packages/requisitions/src/RequestRequisition/api/index.ts
  packages/requisitions/src/ResponseRequisition/DetailView/ContentArea.tsx
  packages/requisitions/src/ResponseRequisition/api/api.ts
  packages/requisitions/src/ResponseRequisition/api/hooks.ts
  packages/requisitions/src/ResponseRequisition/api/index.ts
  packages/system/src/Item/api/api.ts
  packages/system/src/Item/api/hooks/useItemApi/useItemApi.ts
  packages/system/src/Item/api/hooks/useItemListView/useItemListView.ts
  packages/system/src/Item/api/hooks/useItemsList/useItemsList.ts
  packages/system/src/Item/api/hooks/useItemsWithStats/useItemsWithStats.tsx
  packages/system/src/Item/api/index.ts
  packages/system/src/Location/api/api.ts
  packages/system/src/Location/api/hooks.ts
  packages/system/src/Location/api/index.ts
  packages/system/src/MasterList/api/api.ts
  packages/system/src/MasterList/api/hooks.ts
  packages/system/src/Name/api/api.ts
  packages/system/src/Name/api/hooks.ts
  packages/system/src/Name/api/index.ts
  packages/system/src/Stock/api/index.ts
  packages/system/src/Store/api/api.ts
  packages/system/src/Store/api/hooks.ts
Labels: Status: In progress, Chore

#959 #592 ci from response - The guy who made this PR reveals some code that he actually wrote -- [3]
  packages/common/src/hooks/index.ts
  packages/common/src/hooks/useOpenInNewTab/index.ts
  packages/common/src/hooks/useOpenInNewTab/useOpenInNewTab.stories.tsx
  packages/common/src/hooks/useOpenInNewTab/useOpenInNewTab.ts
  packages/common/src/intl/locales/en/common.json
  packages/common/src/intl/locales/en/distribution.json
  packages/common/src/ui/components/buttons/standard/DialogButton.tsx
  packages/common/src/ui/components/modals/ConfirmationModal/ConfirmationModal.tsx
  packages/common/src/ui/notifications/AlertModal.tsx
  packages/common/src/utils/testing.tsx
  packages/requisitions/src/ResponseRequisition/DetailView/AppBarButtons.tsx
  packages/requisitions/src/ResponseRequisition/api/api.ts
  packages/requisitions/src/ResponseRequisition/api/hooks.ts
  packages/requisitions/src/ResponseRequisition/api/operations.generated.ts
  packages/requisitions/src/ResponseRequisition/api/operations.graphql
Labels: Status: In progress, response, v1

#969 #960 stocktake updates from api changes - Should you start eating gooseberries to make more friends? -- [4]
  packages/common/src/intl/locales/en/inventory.json
  packages/common/src/ui/layout/tables/utils/ColumnDefinitionSetBuilder.ts
  packages/inventory/src/Stocktake/DetailView/Footer/Footer.tsx
  packages/inventory/src/Stocktake/DetailView/Footer/StocktakeLockButton.tsx
  packages/inventory/src/Stocktake/DetailView/Toolbar.tsx
  packages/inventory/src/Stocktake/ListView/ListView.tsx
  packages/inventory/src/Stocktake/api/api.ts
  packages/inventory/src/Stocktake/api/hooks.ts
  packages/inventory/src/Stocktake/api/operations.generated.ts
  packages/inventory/src/Stocktake/api/operations.graphql
Labels: stocktake

#971 #961 Requisition changes from api changes - But would THEY really admit to it? -- [5]
  packages/requisitions/src/RequestRequisition/DetailView/RequestLineEdit/RequestLineEditForm.tsx
  packages/requisitions/src/RequestRequisition/api/api.ts
  packages/requisitions/src/RequestRequisition/api/operations.generated.ts
  packages/requisitions/src/RequestRequisition/api/operations.graphql
  packages/requisitions/src/ResponseRequisition/DetailView/ResponseLineEdit/ResponseLineEditForm.tsx
  packages/requisitions/src/ResponseRequisition/api/api.ts
  packages/requisitions/src/ResponseRequisition/api/operations.generated.ts
  packages/requisitions/src/ResponseRequisition/api/operations.graphql
Labels: request, response

#972 #948 Master list search modal - Are the rumours about JACINDA true? -- [6]
  packages/common/src/intl/locales/en/distribution.json
  packages/host/src/CommandK.tsx
  packages/requisitions/src/RequestRequisition/DetailView/AppBarButtons.tsx
  packages/system/src/MasterList/Components/MasterListSearchModal/MasterListSearchModal.tsx
  packages/system/src/MasterList/Components/MasterListSearchModal/index.ts
  packages/system/src/MasterList/Components/index.ts
  packages/system/src/MasterList/ListView/AppBarButtons.tsx
  packages/system/src/MasterList/ListView/ListView.tsx
  packages/system/src/MasterList/api/api.ts
  packages/system/src/MasterList/api/hooks.ts
  packages/system/src/MasterList/api/index.ts
  packages/system/src/MasterList/api/operations.generated.ts
  packages/system/src/MasterList/api/operations.graphql
  packages/system/src/MasterList/index.ts
  packages/system/src/index.ts
Labels: system, request

#973 #581 Add from master list - A kind stranger made this PR and got an UNFORGETTABLE SURPRISE -- [7]
  packages/common/src/intl/locales/en/distribution.json
  packages/common/src/ui/components/modals/ConfirmationModal/ConfirmationModal.stories.tsx
  packages/common/src/ui/components/modals/ConfirmationModal/ConfirmationModal.tsx
  packages/common/src/ui/components/modals/ConfirmationModal/ConfirmationModalProvider.stories.tsx
  packages/common/src/ui/components/modals/ConfirmationModal/ConfirmationModalProvider.tsx
  packages/inventory/src/Stocktake/DetailView/Footer/StatusChangeButton.tsx
  packages/inventory/src/Stocktake/DetailView/Footer/StocktakeLockButton.tsx
  packages/invoices/src/InboundShipment/DetailView/Footer/StatusChangeButton.tsx
  packages/invoices/src/OutboundShipment/DetailView/Footer/StatusChangeButton.tsx
  packages/requisitions/src/RequestRequisition/DetailView/AppBarButtons.tsx
  packages/requisitions/src/RequestRequisition/DetailView/Footer/StatusChangeButton.tsx
  packages/requisitions/src/RequestRequisition/api/api.ts
  packages/requisitions/src/RequestRequisition/api/hooks.ts
  packages/requisitions/src/RequestRequisition/api/operations.generated.ts
  packages/requisitions/src/RequestRequisition/api/operations.graphql
  packages/requisitions/src/ResponseRequisition/DetailView/AppBarButtons.tsx
  packages/requisitions/src/ResponseRequisition/DetailView/Footer/StatusChangeButton.tsx
  packages/system/src/MasterList/api/index.ts
  packages/system/src/MasterList/index.ts
Labels: Status: To do, request, v1

#974 #954 Delete request requisition lines - A week after this PR was made, the TRUTH was revealed -- [8]
  packages/requisitions/src/RequestRequisition/DetailView/Toolbar.tsx
  packages/requisitions/src/RequestRequisition/api/api.ts
  packages/requisitions/src/RequestRequisition/api/hooks.ts
  packages/requisitions/src/RequestRequisition/api/operations.generated.ts
  packages/requisitions/src/RequestRequisition/api/operations.graphql
Labels: request

#975 #942 Pack size controller when only one placeholder - We were SHOCKED at what this bug was doing -- [9]
  packages/invoices/src/OutboundShipment/DetailView/OutboundLineEdit/OutboundLineEditForm.tsx
Labels: v1

#977 #949 Prevent status changes until all lines allocated - This PR did the most incredible thing -- [10]
  packages/common/src/intl/locales/en/distribution.json
  packages/common/src/types/utility.ts
  packages/common/src/ui/components/modals/AlertModal/AlertModal.stories.tsx
  packages/common/src/ui/components/modals/AlertModal/AlertModal.tsx
  packages/common/src/ui/components/modals/AlertModal/AlertModalContext.tsx
  packages/common/src/ui/components/modals/AlertModal/AlertModalProvider.tsx
  packages/common/src/ui/components/modals/AlertModal/index.ts
  packages/common/src/ui/components/modals/AlertModal/useAlertModal.ts
  packages/common/src/ui/components/modals/ConfirmationModal/ConfirmationModal.stories.tsx
  packages/common/src/ui/components/modals/ConfirmationModal/ConfirmationModalContext.ts
  packages/common/src/ui/components/modals/ConfirmationModal/ConfirmationModalProvider.stories.tsx
  packages/common/src/ui/components/modals/ConfirmationModal/ConfirmationModalProvider.tsx
  packages/common/src/ui/components/modals/ConfirmationModal/index.ts
  packages/common/src/ui/components/modals/ConfirmationModal/useConfirmationModal.ts
  packages/common/src/ui/components/modals/index.ts
  packages/common/src/ui/index.ts
  packages/common/src/ui/notifications/index.ts
  packages/host/src/Host.tsx
  packages/invoices/src/InboundShipment/DetailView/Footer/StatusChangeButton.tsx
  packages/invoices/src/OutboundShipment/DetailView/Footer/StatusChangeButton.tsx
Labels: outbound

#980 #979 Update Outbound line mutations - This changes EVERYTHING -- [11]
  packages/invoices/src/OutboundShipment/api/api.ts
  packages/invoices/src/OutboundShipment/api/hooks.ts
Labels: Status: To do, inbound, outbound, request

#981 #979 Correct line mutations Part 2 - You will never guess what this PR is really doing -- [12]
  packages/common/src/ui/layout/tables/components/Cells/CurrencyInputCell/CurrencyInputCell.tsx
  packages/common/src/ui/layout/tables/components/Cells/NumberInputCell/NonNegativeNumberInputCell.tsx
  packages/common/src/ui/layout/tables/components/Cells/NumberInputCell/NumberInputCell.tsx
  packages/common/src/ui/layout/tables/components/Cells/NumberInputCell/PositiveNumberInputCell.tsx
  packages/common/src/ui/layout/tables/components/Cells/TextInputCell/TextInputCell.tsx
  packages/invoices/src/InboundShipment/DetailView/ContentArea/ContentArea.tsx
  packages/invoices/src/InboundShipment/DetailView/ContentArea/columns.ts
  packages/invoices/src/InboundShipment/DetailView/ContentArea/index.ts
  packages/invoices/src/InboundShipment/DetailView/DetailView.tsx
  packages/invoices/src/InboundShipment/DetailView/Toolbar.tsx
  packages/invoices/src/InboundShipment/DetailView/modals/InboundLineEdit/InboundLineEdit.tsx
  packages/invoices/src/InboundShipment/api/api.ts
  packages/invoices/src/InboundShipment/api/hooks.ts
  packages/invoices/src/OutboundShipment/DetailView/columns.ts
  packages/invoices/src/OutboundShipment/api/hooks.ts
Labels: Status: To do, inbound, outbound, request

#982 #979 Corrected Stocktake line mutations - You won't believe how many re-renders this one simple trick prevents -- [13]
  packages/common/src/ui/layout/tables/components/Cells/CheckboxCell/CheckboxCell.tsx
  packages/common/src/ui/layout/tables/components/Cells/CheckboxCell/index.ts
  packages/common/src/ui/layout/tables/components/Cells/index.ts
  packages/inventory/src/Stocktake/DetailView/DetailView.tsx
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/StocktakeLineEdit.tsx
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/StocktakeLineEditModal.tsx
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/StocktakeLineEditTables.tsx
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/StocktakeLineEditTabs.tsx
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/StocktakeLinePanel.tsx
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/hooks.ts
  packages/inventory/src/Stocktake/api/api.ts
Labels: Status: To do, inbound, outbound, request

#983 #933 Cells should be disabled when a document is -- You won't believe how many files were touched for this ONE SIMPLE CHANGE -- [14]
  packages/common/src/ui/components/inputs/DatePickers/BaseDatePickerInput/BaseDatePickerInput.tsx
  packages/common/src/ui/components/inputs/DatePickers/ExpiryDateInput/ExpiryDateInput.tsx
  packages/common/src/ui/layout/tables/DataTable.tsx
  packages/common/src/ui/layout/tables/columns/EditableQuantityColumn.tsx
  packages/common/src/ui/layout/tables/columns/ExpiryDateInput/ExpiryDateInput.tsx
  packages/common/src/ui/layout/tables/columns/NameAndColorColumn.tsx
  packages/common/src/ui/layout/tables/columns/types.ts
  packages/common/src/ui/layout/tables/components/Cells/CheckboxCell/CheckboxCell.tsx
  packages/common/src/ui/layout/tables/components/Cells/CurrencyInputCell/CurrencyInputCell.tsx
  packages/common/src/ui/layout/tables/components/Cells/NumberInputCell/NonNegativeNumberInputCell.tsx
  packages/common/src/ui/layout/tables/components/Cells/NumberInputCell/NumberInputCell.tsx
  packages/common/src/ui/layout/tables/components/Cells/NumberInputCell/PositiveNumberInputCell.tsx
  packages/common/src/ui/layout/tables/components/Cells/TextInputCell/TextInputCell.tsx
  packages/common/src/ui/layout/tables/components/DataRow/DataRow.tsx
  packages/common/src/ui/layout/tables/types.ts
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/StocktakeLineEdit.tsx
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/StocktakeLineEditTables.tsx
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/StocktakeLineEditTabs.tsx
  packages/inventory/src/Stocktake/ListView/ListView.tsx
  packages/inventory/src/Stocktake/api/hooks.ts
  packages/inventory/src/Stocktake/api/operations.generated.ts
  packages/inventory/src/Stocktake/api/operations.graphql
  packages/inventory/src/utils.ts
  packages/invoices/src/InboundShipment/DetailView/AppBarButtons.tsx
  packages/invoices/src/InboundShipment/DetailView/DetailView.tsx
  packages/invoices/src/InboundShipment/DetailView/Footer/Footer.tsx
  packages/invoices/src/InboundShipment/DetailView/Footer/StatusChangeButton.tsx
  packages/invoices/src/InboundShipment/DetailView/SidePanel.tsx
  packages/invoices/src/InboundShipment/DetailView/Toolbar.tsx
  packages/invoices/src/InboundShipment/DetailView/modals/InboundLineEdit/InboundLineEdit.tsx
  packages/invoices/src/InboundShipment/DetailView/modals/InboundLineEdit/TabTables.tsx
  packages/invoices/src/InboundShipment/ListView/ListView.tsx
  packages/invoices/src/InboundShipment/api/hooks.ts
  packages/invoices/src/OutboundShipment/ListView/ListView.tsx
  packages/invoices/src/OutboundShipment/api/hooks.ts
  packages/invoices/src/utils.ts
  packages/requisitions/src/RequestRequisition/ListView/ListView.tsx
  packages/requisitions/src/RequestRequisition/api/hooks.ts
  packages/requisitions/src/ResponseRequisition/ListView/ListView.tsx
  packages/requisitions/src/ResponseRequisition/api/hooks.ts
  packages/requisitions/src/utils.ts
  packages/system/src/Location/Components/LocationInputColumn.tsx
Labels: Status: To do, system

#986 You won't believe the difference this makes
  packages/common/src/hooks/useOpenInNewTab/useOpenInNewTab.stories.tsx
  packages/common/src/intl/locales/en/distribution.json
  packages/common/src/intl/locales/en/inventory.json
  packages/common/src/intl/locales/en/replenishment.json
  packages/common/src/ui/components/buttons/ButtonShowcase.stories.tsx
  packages/common/src/ui/components/buttons/ColorSelectButton/ColorSelectButton.tsx
  packages/common/src/ui/components/buttons/ColorSelectButton/index.ts
  packages/common/src/ui/components/buttons/FlatButton/FlatButton.stories.tsx
  packages/common/src/ui/components/buttons/FlatButton/FlatButton.tsx
  packages/common/src/ui/components/buttons/FlatButton/index.ts
  packages/common/src/ui/components/buttons/IconButton/IconButton.stories.tsx
  packages/common/src/ui/components/buttons/IconButton/IconButton.tsx
  packages/common/src/ui/components/buttons/IconButton/index.ts
  packages/common/src/ui/components/buttons/NavigationButton.tsx
  packages/common/src/ui/components/buttons/ToggleButton/ToggleButton.tsx
  packages/common/src/ui/components/buttons/ToggleButton/index.ts
  packages/common/src/ui/components/buttons/index.ts
  packages/common/src/ui/components/buttons/standard/LoadingButton.stories.tsx
  packages/common/src/ui/components/buttons/standard/LoadingButton.tsx
  packages/common/src/ui/components/buttons/standard/README.md
  packages/common/src/ui/components/buttons/standard/SplitButton.stories.tsx
  packages/common/src/ui/components/buttons/standard/SplitButton.tsx
  packages/common/src/ui/components/buttons/standard/index.ts
  packages/common/src/ui/components/popover/BasePopover/usePopover.tsx
  packages/common/src/ui/components/popover/PaperPopover/PaperClickPopover/usePaperClickPopover.tsx
  packages/requisitions/src/RequestRequisition/DetailView/DetailView.tsx
  packages/requisitions/src/RequestRequisition/DetailView/Toolbar/Toolbar.tsx
  packages/requisitions/src/RequestRequisition/DetailView/Toolbar/ToolbarActions.tsx
  packages/requisitions/src/RequestRequisition/DetailView/Toolbar/ToolbarDropDown.tsx
  packages/requisitions/src/RequestRequisition/DetailView/Toolbar/index.ts
  packages/requisitions/src/RequestRequisition/api/api.ts
  packages/requisitions/src/RequestRequisition/api/hooks.ts
Labels: Status: In progress, request, v1

#992 #957 stock distribution bar
  packages/common/src/intl/locales/en/common.json
  packages/common/src/intl/locales/en/replenishment.json
  packages/common/src/intl/locales/fr/common.json
  packages/common/src/styles/theme.ts
  packages/common/src/ui/components/inputs/Autocomplete/Autocomplete.tsx
  packages/common/src/ui/layout/tables/columns/types.ts
  packages/common/src/ui/layout/tables/components/Header/Header.tsx
  packages/common/src/ui/layout/tables/hooks/useColumns/useColumns.tsx
  packages/common/src/ui/layout/tables/utils/ColumnDefinitionSetBuilder.ts
  packages/requisitions/src/RequestRequisition/DetailView/RequestLineEdit/ItemCharts/StockDistribution.tsx
  packages/requisitions/src/RequestRequisition/DetailView/RequestLineEdit/RequestLineEdit.tsx
  packages/requisitions/src/RequestRequisition/DetailView/RequestLineEdit/RequestLineEditForm.tsx
  packages/requisitions/src/RequestRequisition/DetailView/RequestLineEdit/hooks.tsx
  packages/requisitions/src/RequestRequisition/DetailView/columns.ts
Labels: Status: In progress, request, v1

#991 Add max MOS input and toggle for hiding lines over threshold
  packages/common/src/intl/locales/en/common.json
  packages/common/src/intl/locales/en/replenishment.json
  packages/common/src/intl/locales/fr/common.json
  packages/common/src/styles/theme.ts
  packages/common/src/ui/components/inputs/Autocomplete/Autocomplete.tsx
  packages/common/src/ui/layout/tables/columns/types.ts
  packages/common/src/ui/layout/tables/components/Header/Header.tsx
  packages/common/src/ui/layout/tables/hooks/useColumns/useColumns.tsx
  packages/common/src/ui/layout/tables/utils/ColumnDefinitionSetBuilder.ts
  packages/requisitions/src/RequestRequisition/DetailView/RequestLineEdit/ItemCharts/StockDistribution.tsx
  packages/requisitions/src/RequestRequisition/DetailView/RequestLineEdit/RequestLineEdit.tsx
  packages/requisitions/src/RequestRequisition/DetailView/RequestLineEdit/RequestLineEditForm.tsx
  packages/requisitions/src/RequestRequisition/DetailView/RequestLineEdit/hooks.tsx
  packages/requisitions/src/RequestRequisition/DetailView/Toolbar/Toolbar.tsx
  packages/requisitions/src/RequestRequisition/DetailView/Toolbar/ToolbarActions.tsx
  packages/requisitions/src/RequestRequisition/DetailView/columns.ts
  packages/requisitions/src/RequestRequisition/api/hooks.ts
Labels: Status: In progress, request, needs details/discussion, v1

#997 Add disabling of edit modals in disabled documents
  packages/common/src/ui/layout/tables/DataTable.tsx
  packages/common/src/ui/layout/tables/types.ts
  packages/inventory/src/Stocktake/DetailView/ContentArea/ContentArea.tsx
  packages/inventory/src/Stocktake/DetailView/DetailView.tsx
  packages/invoices/src/InboundShipment/DetailView/ContentArea/ContentArea.tsx
  packages/invoices/src/InboundShipment/DetailView/DetailView.tsx
  packages/invoices/src/OutboundShipment/DetailView/ContentArea.tsx
  packages/invoices/src/OutboundShipment/DetailView/DetailView.tsx
  packages/invoices/src/utils.ts
  packages/requisitions/src/RequestRequisition/DetailView/ContentArea.tsx
  packages/requisitions/src/RequestRequisition/DetailView/DetailView.tsx
  packages/requisitions/src/ResponseRequisition/DetailView/ContentArea.tsx
  packages/requisitions/src/ResponseRequisition/DetailView/DetailView.tsx
Labels: outbound, stocktake, needs details/discussion

#1004 Generate & implement API changes
  packages/common/src/types/schema.ts
  packages/invoices/src/InboundShipment/api/operations.generated.ts
  packages/invoices/src/InboundShipment/api/operations.graphql
  packages/invoices/src/OutboundShipment/DetailView/OutboundLineEdit/hooks/useNextItem.test.tsx
  packages/invoices/src/OutboundShipment/api/api.ts
  packages/invoices/src/OutboundShipment/api/operations.generated.ts
  packages/invoices/src/OutboundShipment/api/operations.graphql
  packages/requisitions/src/RequestRequisition/api/operations.generated.ts
  packages/requisitions/src/RequestRequisition/api/operations.graphql
  packages/requisitions/src/ResponseRequisition/api/operations.generated.ts
  packages/requisitions/src/ResponseRequisition/api/operations.graphql
  packages/system/src/Item/api/hooks/useItemsList/useItemsList.ts
  packages/system/src/Item/api/operations.generated.ts
  packages/system/src/Item/api/operations.graphql
Labels: Chore

#1005 #999 disable ok and next
  packages/dashboard/src/api/api.ts
  packages/dashboard/src/api/operations.generated.ts
  packages/dashboard/src/api/operations.graphql
  packages/host/src/components/AppDrawer/AppDrawer.tsx
  packages/host/src/components/AppDrawer/AppDrawerIcon.tsx
  packages/inventory/src/Stocktake/DetailView/ContentArea/columns.ts
  packages/invoices/src/InboundShipment/DetailView/modals/InboundLineEdit/InboundLineEdit.tsx
  packages/invoices/src/InboundShipment/api/hooks.ts
  packages/invoices/src/OutboundShipment/DetailView/OutboundLineEdit/OutboundLineEdit.tsx
  packages/requisitions/src/RequestRequisition/DetailView/RequestLineEdit/RequestLineEdit.tsx
Labels: inbound, outbound, request, response, stocktake

#1000 Add rename OmSupplyApi -> GraphQLClient
  packages/common/src/api/GqlContext.tsx
  packages/common/src/api/index.ts
  packages/common/src/authentication/AuthContext.tsx
  packages/common/src/authentication/api/hooks/useAuthApi.ts
  packages/common/src/utils/testing.tsx
  packages/dashboard/src/api/hooks.ts
  packages/host/src/Host.tsx
  packages/inventory/src/Stocktake/api/hooks.ts
  packages/invoices/src/InboundShipment/api/hooks.ts
  packages/invoices/src/OutboundShipment/api/hooks.ts
  packages/requisitions/src/RequestRequisition/api/hooks.ts
  packages/requisitions/src/ResponseRequisition/api/hooks.ts
  packages/system/src/Item/api/hooks/useItemApi/useItemApi.ts
  packages/system/src/Location/api/hooks.ts
  packages/system/src/MasterList/api/hooks.ts
  packages/system/src/Name/api/hooks.ts
  packages/system/src/Stock/api/hooks.ts
  packages/system/src/Store/api/hooks.ts
Labels: Status: In progress, common/library, refactor

#1002 #987 on hold confirmation
  packages/common/src/intl/locales/en/distribution.json
  packages/common/src/intl/locales/en/replenishment.json
  packages/invoices/src/InboundShipment/DetailView/Footer/Footer.tsx
  packages/invoices/src/InboundShipment/DetailView/Footer/OnHoldButton.tsx
  packages/invoices/src/OutboundShipment/DetailView/Footer/Footer.tsx
  packages/invoices/src/OutboundShipment/DetailView/Footer/OnHoldButton.tsx
Labels: inbound, outbound

#1010 #837 decompose name search inputs
  packages/common/src/ui/components/inputs/Autocomplete/AutocompleteList.tsx
  packages/common/src/ui/components/modals/ListSearch/ListSearch.tsx
  packages/invoices/src/InboundShipment/DetailView/Toolbar.tsx
  packages/invoices/src/InboundShipment/ListView/AppBarButtons.tsx
  packages/invoices/src/OutboundShipment/Dashboard/Widget.tsx
  packages/invoices/src/OutboundShipment/DetailView/OutboundLineEdit/hooks/useNextItem.test.tsx
  packages/invoices/src/OutboundShipment/DetailView/Toolbar.tsx
  packages/invoices/src/OutboundShipment/ListView/AppBarButtons.tsx
  packages/invoices/src/OutboundShipment/ListView/ListView.tsx
  packages/requisitions/src/RequestRequisition/DetailView/Toolbar/Toolbar.tsx
  packages/requisitions/src/RequestRequisition/ListView/AppBarButtons.tsx
  packages/requisitions/src/ResponseRequisition/DetailView/Toolbar.tsx
  packages/system/src/Item/api/hooks/useItemsList/useItemsList.ts
  packages/system/src/Name/Components/CustomerSearchInput/CustomerSearchInput.tsx
  packages/system/src/Name/Components/CustomerSearchInput/index.ts
  packages/system/src/Name/Components/CustomerSearchModal/CustomerSearchModal.tsx
  packages/system/src/Name/Components/CustomerSearchModal/index.ts
  packages/system/src/Name/Components/InternalSupplierSearchInput/InternalSupplierSearchInput.tsx
  packages/system/src/Name/Components/InternalSupplierSearchInput/index.ts
  packages/system/src/Name/Components/InternalSupplierSearchModal/InternalSupplierSearchModal.tsx
  packages/system/src/Name/Components/InternalSupplierSearchModal/index.ts
  packages/system/src/Name/Components/NameSearchInput/NameSearchInput.stories.tsx
  packages/system/src/Name/Components/NameSearchInput/NameSearchInput.tsx
  packages/system/src/Name/Components/NameSearchInput/index.ts
  packages/system/src/Name/Components/NameSearchModal/NameSearchModal.stories.tsx
  packages/system/src/Name/Components/NameSearchModal/NameSearchModal.tsx
  packages/system/src/Name/Components/NameSearchModal/index.ts
  packages/system/src/Name/Components/SupplierSearchInput/SupplierSearchInput.tsx
  packages/system/src/Name/Components/SupplierSearchInput/index.ts
  packages/system/src/Name/Components/SupplierSearchModal/SupplierSearchModal.tsx
  packages/system/src/Name/Components/SupplierSearchModal/index.ts
  packages/system/src/Name/Components/index.ts
  packages/system/src/Name/api/api.ts
  packages/system/src/Name/api/hooks.ts
  packages/system/src/Name/utils.tsx
Labels: Status: In progress, system, refactor

#1011 #1009 warn when no stock to supply
  packages/common/src/intl/locales/en/distribution.json
  packages/requisitions/src/ResponseRequisition/DetailView/AppBarButtons.tsx
  packages/requisitions/src/ResponseRequisition/DetailView/AppBarButtons/AppBarButtons.tsx
  packages/requisitions/src/ResponseRequisition/DetailView/AppBarButtons/CreateShipmentButton.tsx
  packages/requisitions/src/ResponseRequisition/DetailView/AppBarButtons/index.ts
  packages/requisitions/src/ResponseRequisition/api/operations.generated.ts
  packages/requisitions/src/ResponseRequisition/api/operations.graphql
Labels: response

#1017 Enable sort on internal orders
  packages/requisitions/src/RequestRequisition/DetailView/ContentArea.tsx
  packages/requisitions/src/RequestRequisition/DetailView/RequestLineEdit/hooks.tsx
  packages/requisitions/src/RequestRequisition/DetailView/columns.ts
  packages/requisitions/src/RequestRequisition/api/hooks.ts
Labels: request

#1021 #571 invoice service charges
  packages/common/src/intl/locales/en/common.json
  packages/common/src/intl/locales/en/distribution.json
  packages/invoices/src/OutboundShipment/DetailView/OutboundLineEdit/hooks/useDraftOutboundLines.tsx
  packages/invoices/src/OutboundShipment/DetailView/OutboundLineEdit/hooks/usePackSizeController.test.tsx
  packages/invoices/src/OutboundShipment/DetailView/OutboundLineEdit/utils.test.ts
  packages/invoices/src/OutboundShipment/DetailView/OutboundServiceLineEdit/OutboundServiceLineEdit.tsx
  packages/invoices/src/OutboundShipment/DetailView/OutboundServiceLineEdit/useDraftServiceLines.ts
  packages/invoices/src/OutboundShipment/DetailView/OutboundServiceLineEdit/useServiceLineColumns.tsx
  packages/invoices/src/OutboundShipment/DetailView/SidePanel.tsx
  packages/invoices/src/OutboundShipment/api/api.ts
  packages/invoices/src/OutboundShipment/api/hooks.ts
  packages/invoices/src/OutboundShipment/api/operations.generated.ts
  packages/invoices/src/OutboundShipment/api/operations.graphql
  packages/invoices/src/types.ts
  packages/invoices/src/utils.ts
  packages/system/src/Item/Components/ServiceItemSearchInput/ServiceItemSearchInput.tsx
  packages/system/src/Item/api/hooks/index.ts
  packages/system/src/Item/api/hooks/useDefaultServiceItem/index.ts
  packages/system/src/Item/api/hooks/useDefaultServiceItem/useDefaultServiceItem.tsx
  packages/system/src/Item/api/hooks/useItemApi/useItemApi.ts
  packages/system/src/Item/api/hooks/useServiceItems/useServiceItems.ts
  packages/system/src/Item/api/operations.generated.ts
  packages/system/src/Item/api/operations.graphql
Labels: Status: In progress, inbound, outbound, needs details/discussion

#1025 #1019 Disable form when login in progress
  packages/host/src/components/Login/Login.tsx
  packages/host/src/components/Login/hooks.ts
Labels: Status: In progress, core/host, common/library

#1024 Response sorting
  packages/requisitions/src/RequestRequisition/DetailView/columns.ts
  packages/requisitions/src/ResponseRequisition/DetailView/ContentArea.tsx
  packages/requisitions/src/ResponseRequisition/DetailView/columns.ts
  packages/requisitions/src/ResponseRequisition/api/hooks.ts
Labels: response

#1022 #564 response requisition columns
  packages/common/src/intl/locales/en/common.json
  packages/common/src/ui/layout/tables/utils/ColumnDefinitionSetBuilder.ts
  packages/requisitions/src/RequestRequisition/DetailView/columns.ts
  packages/requisitions/src/ResponseRequisition/DetailView/ContentArea.tsx
  packages/requisitions/src/ResponseRequisition/DetailView/columns.ts
  packages/requisitions/src/ResponseRequisition/ListView/ListView.tsx
  packages/requisitions/src/ResponseRequisition/api/hooks.ts
  packages/requisitions/src/ResponseRequisition/api/operations.generated.ts
  packages/requisitions/src/ResponseRequisition/api/operations.graphql
Labels: response, v1

#1027 Master list detail view
  packages/common/src/intl/locales/en/catalogue.json
  packages/common/src/intl/locales/index.ts
  packages/system/src/MasterList/DetailView/AppBarButtons.tsx
  packages/system/src/MasterList/DetailView/ContentArea.tsx
  packages/system/src/MasterList/DetailView/DetailView.tsx
  packages/system/src/MasterList/DetailView/SidePanel.tsx
  packages/system/src/MasterList/DetailView/Toolbar/Toolbar.tsx
  packages/system/src/MasterList/DetailView/Toolbar/index.ts
  packages/system/src/MasterList/DetailView/columns.ts
  packages/system/src/MasterList/DetailView/index.ts
  packages/system/src/MasterList/Service/Service.tsx
  packages/system/src/MasterList/api/api.ts
  packages/system/src/MasterList/api/hooks.ts
  packages/system/src/MasterList/api/operations.generated.ts
  packages/system/src/MasterList/api/operations.graphql
Labels: Status: No API, v1, Master List

#1031 #1030 Add schema updates
  packages/common/src/types/schema.ts
  packages/inventory/src/Stocktake/api/api.ts
  packages/inventory/src/Stocktake/api/operations.generated.ts
  packages/inventory/src/Stocktake/api/operations.graphql
  packages/invoices/src/InboundShipment/api/operations.generated.ts
  packages/invoices/src/OutboundShipment/DetailView/OutboundLineEdit/hooks/useNextItem.test.tsx
  packages/invoices/src/OutboundShipment/api/hooks.ts
  packages/invoices/src/OutboundShipment/api/operations.generated.ts
Labels: Chore

#1034 #574 indicate internal suppliers
  packages/common/src/ui/components/inputs/Autocomplete/AutocompleteList.tsx
  packages/common/src/ui/components/inputs/Autocomplete/utils.tsx
  packages/common/src/ui/components/modals/ListSearch/ListSearch.tsx
  packages/system/src/Name/Components/SupplierSearchInput/SupplierSearchInput.tsx
  packages/system/src/Name/Components/SupplierSearchModal/SupplierSearchModal.tsx
Labels: Status: In progress, request

#1032 #572 Add Input Modal components
  packages/common/src/ui/components/inputs/TextInput/TextInput.stories.tsx
  packages/common/src/ui/components/inputs/TextInput/index.ts
  packages/common/src/ui/components/inputs/TextInput/numeric/NonNegativeNumberInput.tsx
  packages/common/src/ui/components/inputs/TextInput/numeric/NumericTextInput.tsx
  packages/common/src/ui/components/inputs/TextInput/numeric/PositiveNumberInput.tsx
  packages/common/src/ui/components/inputs/TextInput/numeric/index.ts
  packages/common/src/ui/components/modals/InputModal/InputModal.stories.tsx
  packages/common/src/ui/components/modals/InputModal/InputModal.tsx
  packages/common/src/ui/components/modals/InputModal/NonNegativeNumberInputModal.tsx
  packages/common/src/ui/components/modals/InputModal/README.md
  packages/common/src/ui/components/modals/InputModal/index.ts
  packages/common/src/ui/layout/tables/components/Cells/NumberInputCell/NonNegativeNumberInputCell.tsx
  packages/common/src/ui/layout/tables/components/Cells/NumberInputCell/PositiveNumberInputCell.tsx
Labels: Status: To do, inbound

#1033 Add outbound pricing
  packages/common/src/intl/currency.ts
  packages/common/src/intl/locales/en/common.json
  packages/common/src/intl/locales/en/distribution.json
  packages/common/src/intl/locales/en/replenishment.json
  packages/common/src/ui/components/inputs/TextInput/numeric/NonNegativeNumberInput.tsx
  packages/common/src/ui/components/inputs/TextInput/numeric/PositiveNumberInput.tsx
  packages/common/src/ui/components/modals/index.ts
  packages/common/src/ui/forms/Panel/PanelRow.tsx
  packages/common/src/utils/NumUtils.ts
  packages/common/src/utils/formatters.ts
  packages/invoices/src/InboundShipment/DetailView/modals/utils.ts
  packages/invoices/src/OutboundShipment/DetailView/OutboundServiceLineEdit/useServiceLineColumns.tsx
  packages/invoices/src/OutboundShipment/DetailView/SidePanel.tsx
  packages/invoices/src/OutboundShipment/DetailView/SidePanel/AdditionalInfoSection.tsx
  packages/invoices/src/OutboundShipment/DetailView/SidePanel/PricingSection.tsx
  packages/invoices/src/OutboundShipment/DetailView/SidePanel/RelatedDocumentsSection.tsx
  packages/invoices/src/OutboundShipment/DetailView/SidePanel/SidePanel.tsx
  packages/invoices/src/OutboundShipment/DetailView/SidePanel/index.ts
  packages/invoices/src/OutboundShipment/DetailView/modals/TaxEdit.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/index.ts
  packages/invoices/src/OutboundShipment/api/api.ts
  packages/invoices/src/OutboundShipment/api/hooks.ts
  packages/invoices/src/OutboundShipment/api/operations.generated.ts
  packages/invoices/src/OutboundShipment/api/operations.graphql
  packages/invoices/src/types.ts
  packages/invoices/src/utils.ts
  packages/system/src/Item/Components/ServiceItemSearchInput/ServiceItemSearchInput.tsx
Labels: Status: To do, inbound

#1054 #1052 Clear filter when filter input empty
  packages/common/src/hooks/useFilterBy/useFilterBy.tsx
  packages/invoices/src/OutboundShipment/ListView/Toolbar.tsx
Labels: Status: In progress

#1056 #1028 Outbound edit
  packages/common/src/intl/locales/en/common.json
  packages/common/src/intl/locales/en/distribution.json
  packages/common/src/ui/layout/tables/components/Cells/CheckCell/CheckCell.tsx
  packages/common/src/ui/layout/tables/components/Cells/CheckCell/index.ts
  packages/common/src/ui/layout/tables/components/Cells/CurrencyCell/CurrencyCell.tsx
  packages/common/src/ui/layout/tables/components/Cells/CurrencyCell/index.ts
  packages/common/src/ui/layout/tables/components/Cells/ExpiryDateCell/ExpiryDateCell.tsx
  packages/common/src/ui/layout/tables/components/Cells/ExpiryDateCell/index.ts
  packages/common/src/ui/layout/tables/components/Cells/index.ts
  packages/common/src/ui/layout/tables/utils/ColumnDefinitionSetBuilder.ts
  packages/common/src/utils/arrays/sorters.ts
  packages/common/src/utils/quantities.test.ts
  packages/common/src/utils/quantities.ts
  packages/host/src/components/Footer/StoreSelector.tsx
  packages/invoices/src/InboundShipment/DetailView/modals/utils.ts
  packages/invoices/src/OutboundShipment/DetailView/OutboundLineEdit/OutboundLineEdit.tsx
  packages/invoices/src/OutboundShipment/DetailView/OutboundLineEdit/OutboundLineEditForm.tsx
  packages/invoices/src/OutboundShipment/DetailView/OutboundLineEdit/OutboundLineEditTable.tsx
  packages/invoices/src/OutboundShipment/DetailView/OutboundLineEdit/columns.ts
  packages/invoices/src/OutboundShipment/DetailView/OutboundLineEdit/hooks/index.ts
  packages/invoices/src/OutboundShipment/DetailView/OutboundLineEdit/hooks/useDraftOutboundLines.tsx
  packages/invoices/src/OutboundShipment/DetailView/OutboundLineEdit/hooks/useOutboundLineEditRows.ts
  packages/invoices/src/OutboundShipment/DetailView/OutboundLineEdit/utils.test.ts
  packages/invoices/src/OutboundShipment/DetailView/OutboundLineEdit/utils.ts
  packages/requisitions/src/RequestRequisition/DetailView/RequestLineEdit/hooks.tsx
  packages/requisitions/src/RequestRequisition/DetailView/columns.ts
Labels: v1

#1043 Add adjustments to react-query props
  packages/common/src/api/hooks/useQuerySelector/README.md
  packages/common/src/api/hooks/useQuerySelector/useQuerySelector.ts
  packages/host/src/Host.tsx
  packages/inventory/src/Stocktake/api/hooks.ts
  packages/invoices/src/InboundShipment/api/hooks.ts
  packages/invoices/src/OutboundShipment/api/hooks.ts
  packages/requisitions/src/RequestRequisition/api/hooks.ts
  packages/requisitions/src/ResponseRequisition/api/hooks.ts
  packages/system/src/MasterList/api/hooks.ts
Labels: common/library

#1045 #941 Shift store drop down
  packages/common/src/authentication/AuthContext.tsx
  packages/common/src/localStorage/keys.ts
  packages/host/src/components/Login/Login.tsx
  packages/host/src/components/Login/LoginLayout.tsx
  packages/host/src/components/Login/hooks.ts
  packages/system/src/Store/api/operations.generated.ts
  packages/system/src/Store/api/operations.graphql
  packages/system/src/Store/components/StoreSearchInput/StoreSearchInput.tsx
  packages/system/src/Store/components/StoreSearchInput/index.ts
  packages/system/src/Store/components/index.ts
  packages/system/src/Store/index.ts
Labels: Status: To do, system, refactor

#1046 #1014 filter master lists
  packages/system/src/MasterList/api/api.ts
Labels: system

#1047 Add default language
  packages/common/src/authentication/AuthContext.tsx
  packages/common/src/intl/intlHelpers.ts
Labels: core/host

#1058 Add default to true when creating a stocktake line from a stockline
  packages/host/src/Host.tsx
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/hooks.ts
  packages/inventory/src/Stocktake/api/operations.generated.ts
  packages/inventory/src/Stocktake/api/operations.graphql
Labels: Status: In progress, stocktake

#1064 #1059 Doubled Stocktake rows
  packages/common/src/utils/arrays/ArrayUtils.ts
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/StocktakeLineEditTables.tsx
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/hooks.ts
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/hooks/index.ts
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/hooks/useDraftStocktakeLines.ts
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/hooks/useNextItem.ts
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/hooks/useStocktakeLineEdit.ts
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/index.ts
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/utils.ts
  packages/inventory/src/Stocktake/api/api.ts
  packages/inventory/src/Stocktake/api/operations.graphql
Labels: stocktake

#1060 #940 Search by name (shipments)
  packages/common/src/intl/locales/en/common.json
  packages/common/src/intl/locales/en/inventory.json
  packages/invoices/src/InboundShipment/ListView/Toolbar.tsx
  packages/invoices/src/OutboundShipment/ListView/Toolbar.tsx
  packages/system/src/MasterList/ListView/Toolbar.tsx
Labels: Status: In progress, v1

#1061 Tooltips on headers
  packages/common/src/ui/layout/tables/components/Header/Header.tsx
Labels: common/library

#1068 #500 Keyboard shortcuts
  packages/common/src/hooks/index.ts
  packages/common/src/hooks/useBreadcrumbs/index.ts
  packages/common/src/hooks/useBreadcrumbs/useBreadcrumbs.tsx
  packages/common/src/ui/components/navigation/Breadcrumbs/Breadcrumbs.tsx
  packages/common/src/ui/layout/tables/DataTable.tsx
  packages/common/src/ui/layout/tables/components/DataRow/DataRow.tsx
  packages/common/src/ui/layout/tables/context/TableContext.test.tsx
  packages/common/src/ui/layout/tables/context/TableContext.ts
  packages/common/src/ui/layout/tables/context/hooks/index.ts
  packages/common/src/ui/layout/tables/context/hooks/useIsFocused.ts
  packages/invoices/src/InboundShipment/DetailView/Footer/Footer.tsx
  packages/invoices/src/OutboundShipment/DetailView/Footer/Footer.tsx
Labels: Status: In progress, common/library

#1072 #1065 organise intl
  packages/common/src/authentication/AuthContext.tsx
  packages/common/src/hooks/useDialog/useDialog.tsx
  packages/common/src/intl/IntlTestProvider.tsx
  packages/common/src/intl/context/IntlContext.tsx
  packages/common/src/intl/context/index.ts
  packages/common/src/intl/currency/currency.test.tsx
  packages/common/src/intl/currency/currency.ts
  packages/common/src/intl/currency/index.ts
  packages/common/src/intl/date/IntlDate.ts
  packages/common/src/intl/date/index.ts
  packages/common/src/intl/index.ts
  packages/common/src/intl/intlHelpers.ts
  packages/common/src/intl/number/IntlNumber.ts
  packages/common/src/intl/number/index.ts
  packages/common/src/intl/strings/IntlStrings.ts
  packages/common/src/intl/strings/index.ts
  packages/common/src/intl/utils/IntlUtils.ts
  packages/common/src/intl/utils/index.ts
  packages/common/src/styles/RTLProvider.test.tsx
  packages/common/src/styles/RTLProvider.tsx
  packages/common/src/styles/useAppTheme.ts
  packages/common/src/ui/components/buttons/FlatButton/FlatButton.tsx
  packages/common/src/ui/components/buttons/standard/ShrinkableBaseButton.tsx
  packages/common/src/ui/components/buttons/standard/SplitButton.stories.tsx
  packages/common/src/ui/components/modals/BasicModal/BasicModal.tsx
  packages/common/src/utils/testing/testing.tsx
  packages/host/src/components/LanguageMenu.tsx
  tsconfig.json
Labels: Chore

#1078 Add supply requested quantity feature
  packages/common/src/intl/locales/en/distribution.json
  packages/common/src/types/schema.ts
  packages/requisitions/src/ResponseRequisition/DetailView/AppBarButtons/AppBarButtons.tsx
  packages/requisitions/src/ResponseRequisition/DetailView/AppBarButtons/SupplyRequestedQuantityButton.tsx
  packages/requisitions/src/ResponseRequisition/api/api.ts
  packages/requisitions/src/ResponseRequisition/api/hooks.ts
  packages/requisitions/src/ResponseRequisition/api/operations.generated.ts
  packages/requisitions/src/ResponseRequisition/api/operations.graphql
Labels: Status: In progress, response

#1081 #1079 Requested to suggested
  packages/common/src/intl/locales/en/replenishment.json
  packages/requisitions/src/RequestRequisition/DetailView/AppBarButtons/AddFromMasterListButton.tsx
  packages/requisitions/src/RequestRequisition/DetailView/AppBarButtons/AppBarButtons.tsx
  packages/requisitions/src/RequestRequisition/DetailView/AppBarButtons/UseSuggestedQuantityButton.tsx
  packages/requisitions/src/RequestRequisition/DetailView/AppBarButtons/index.ts
  packages/requisitions/src/RequestRequisition/api/api.ts
  packages/requisitions/src/RequestRequisition/api/hooks.ts
  packages/requisitions/src/RequestRequisition/api/operations.generated.ts
  packages/requisitions/src/RequestRequisition/api/operations.graphql
Labels: request

#1076 #1063 The outbound API Hook shuffle
  packages/invoices/src/OutboundShipment/Dashboard/Widget.tsx
  packages/invoices/src/OutboundShipment/DetailView/AppBarButtons.tsx
  packages/invoices/src/OutboundShipment/DetailView/ContentArea.tsx
  packages/invoices/src/OutboundShipment/DetailView/DetailView.tsx
  packages/invoices/src/OutboundShipment/DetailView/Footer/Footer.tsx
  packages/invoices/src/OutboundShipment/DetailView/Footer/OnHoldButton.tsx
  packages/invoices/src/OutboundShipment/DetailView/Footer/StatusChangeButton.tsx
  packages/invoices/src/OutboundShipment/DetailView/OutboundLineEdit/OutboundLineEdit.tsx
  packages/invoices/src/OutboundShipment/DetailView/OutboundLineEdit/OutboundLineEditForm.tsx
  packages/invoices/src/OutboundShipment/DetailView/OutboundLineEdit/OutboundLineEditTable.tsx
  packages/invoices/src/OutboundShipment/DetailView/OutboundLineEdit/hooks/useDraftOutboundLines.tsx
  packages/invoices/src/OutboundShipment/DetailView/OutboundLineEdit/hooks/useNextItem.tsx
  packages/invoices/src/OutboundShipment/DetailView/OutboundServiceLineEdit/OutboundServiceLineEdit.tsx
  packages/invoices/src/OutboundShipment/DetailView/OutboundServiceLineEdit/useDraftServiceLines.ts
  packages/invoices/src/OutboundShipment/DetailView/SidePanel/AdditionalInfoSection.tsx
  packages/invoices/src/OutboundShipment/DetailView/SidePanel/PricingSection.tsx
  packages/invoices/src/OutboundShipment/DetailView/SidePanel/RelatedDocumentsSection.tsx
  packages/invoices/src/OutboundShipment/DetailView/SidePanel/SidePanel.tsx
  packages/invoices/src/OutboundShipment/DetailView/Toolbar.tsx
  packages/invoices/src/OutboundShipment/ListView/AppBarButtons.tsx
  packages/invoices/src/OutboundShipment/ListView/ListView.tsx
  packages/invoices/src/OutboundShipment/ListView/Toolbar.tsx
  packages/invoices/src/OutboundShipment/api/hooks.ts
  packages/invoices/src/OutboundShipment/api/hooks/document/index.ts
  packages/invoices/src/OutboundShipment/api/hooks/document/useOutbound.ts
  packages/invoices/src/OutboundShipment/api/hooks/document/useOutboundDelete.ts
  packages/invoices/src/OutboundShipment/api/hooks/document/useOutboundFields.ts
  packages/invoices/src/OutboundShipment/api/hooks/document/useOutboundInsert.ts
  packages/invoices/src/OutboundShipment/api/hooks/document/useOutboundSelector.ts
  packages/invoices/src/OutboundShipment/api/hooks/document/useOutboundUpdate.ts
  packages/invoices/src/OutboundShipment/api/hooks/document/useOutboundUpdateTax.ts
  packages/invoices/src/OutboundShipment/api/hooks/document/useOutbounds.ts
  packages/invoices/src/OutboundShipment/api/hooks/index.ts
  packages/invoices/src/OutboundShipment/api/hooks/line/index.ts
  packages/invoices/src/OutboundShipment/api/hooks/line/useOutboundDeleteLines.ts
  packages/invoices/src/OutboundShipment/api/hooks/line/useOutboundItems.ts
  packages/invoices/src/OutboundShipment/api/hooks/line/useOutboundLines.ts
  packages/invoices/src/OutboundShipment/api/hooks/line/useOutboundRows.ts
  packages/invoices/src/OutboundShipment/api/hooks/line/useOutboundSaveLines.ts
  packages/invoices/src/OutboundShipment/api/hooks/line/useOutboundServiceLines.ts
  packages/invoices/src/OutboundShipment/api/hooks/utils/index.ts
  packages/invoices/src/OutboundShipment/api/hooks/utils/useOutboundApi.ts
  packages/invoices/src/OutboundShipment/api/hooks/utils/useOutboundIsDisabled.ts
  packages/invoices/src/OutboundShipment/api/hooks/utils/useOutboundNumber.ts
Labels: Chore

#1080 Requisition charts
  package.json
  packages/common/package.json
  packages/common/src/intl/date/IntlDate.ts
  packages/common/src/intl/locales/en/replenishment.json
  packages/common/src/ui/components/buttons/IconButton/IconButton.tsx
  packages/common/src/ui/components/charts/index.ts
  packages/common/src/ui/components/index.ts
  packages/common/src/utils/dates/DateUtils.ts
  packages/config/tsconfig.json
  packages/dashboard/tsconfig.json
  packages/inventory/tsconfig.json
  packages/invoices/src/InboundShipment/ListView/Toolbar.tsx
  packages/invoices/src/OutboundShipment/ListView/Toolbar.tsx
  packages/invoices/tsconfig.json
  packages/requisitions/src/RequestRequisition/DetailView/RequestLineEdit/ItemCharts/ConsumptionHistory.tsx
  packages/requisitions/src/RequestRequisition/DetailView/RequestLineEdit/ItemCharts/StockDistribution.tsx
  packages/requisitions/src/RequestRequisition/DetailView/RequestLineEdit/ItemCharts/StockEvolution.tsx
  packages/requisitions/src/RequestRequisition/DetailView/RequestLineEdit/RequestLineEdit.tsx
  packages/requisitions/src/RequestRequisition/DetailView/RequestLineEdit/hooks.tsx
  packages/requisitions/src/RequestRequisition/api/operations.generated.ts
  packages/requisitions/src/RequestRequisition/api/operations.graphql
  packages/requisitions/tsconfig.json
  yarn.lock
Labels: v1

#1085 #578 Filter supplier requisition lines
  packages/common/src/intl/locales/en/common.json
  packages/common/src/ui/components/inputs/SearchBar/SearchBar.tsx
  packages/common/src/ui/components/navigation/Breadcrumbs/Breadcrumbs.tsx
  packages/common/src/utils/regex/RegexUtils.tsx
  packages/requisitions/src/RequestRequisition/DetailView/Toolbar/Toolbar.tsx
  packages/requisitions/src/RequestRequisition/api/hooks.ts
  packages/requisitions/src/ResponseRequisition/DetailView/Toolbar.tsx
  packages/requisitions/src/ResponseRequisition/api/hooks.ts
Labels: Status: To do, request, v1

#1086 Select items on stocktake creation
  packages/common/src/hooks/useDialog/useDialog.tsx
  packages/common/src/intl/locales/en/common.json
  packages/common/src/intl/locales/en/distribution.json
  packages/common/src/intl/locales/en/inventory.json
  packages/common/src/ui/components/inputs/Autocomplete/AutocompleteList.tsx
  packages/inventory/src/Stocktake/ListView/AppBarButtons.tsx
  packages/inventory/src/Stocktake/ListView/CreateStocktakeButton.tsx
  packages/inventory/src/Stocktake/api/api.ts
  packages/inventory/src/Stocktake/api/hooks.ts
  packages/system/src/Item/Components/StockItemSelectModal/StockItemSelectModal.tsx
  packages/system/src/Item/Components/StockItemSelectModal/index.ts
  packages/system/src/Item/Components/index.ts
  packages/system/src/MasterList/Components/MasterListSearchModal/MasterListSearchModal.tsx
  packages/system/src/Name/Components/CustomerSearchModal/CustomerSearchModal.tsx
  packages/system/src/Name/Components/InternalSupplierSearchModal/InternalSupplierSearchModal.tsx
  packages/system/src/Name/Components/SupplierSearchModal/SupplierSearchModal.tsx
Labels: Status: To do, stocktake, v1

#1092 Add transport reference field
  packages/common/src/intl/locales/en/distribution.json
  packages/common/src/types/schema.ts
  packages/common/src/ui/components/inputs/TextInput/BufferedTextInput.tsx
  packages/common/src/ui/components/panels/DetailPanelSection.tsx
  packages/common/src/ui/components/portals/DetailPanel/DetailPanel.tsx
  packages/invoices/src/InboundShipment/api/operations.generated.ts
  packages/invoices/src/OutboundShipment/DetailView/SidePanel/SidePanel.tsx
  packages/invoices/src/OutboundShipment/DetailView/SidePanel/TransportSection.tsx
  packages/invoices/src/OutboundShipment/api/api.ts
  packages/invoices/src/OutboundShipment/api/operations.generated.ts
  packages/invoices/src/OutboundShipment/api/operations.graphql
  packages/requisitions/src/RequestRequisition/api/operations.generated.ts
Labels: v1

#1102 Allocate placeholder lines
  packages/common/src/intl/locales/en/common.json
  packages/common/src/intl/locales/en/distribution.json
  packages/common/src/intl/locales/en/replenishment.json
  packages/common/src/types/schema.ts
  packages/common/src/ui/icons/Icon.stories.tsx
  packages/common/src/ui/icons/Zap.tsx
  packages/common/src/ui/icons/index.ts
  packages/invoices/src/InboundShipment/DetailView/SidePanel/RelatedDocumentsSection.tsx
  packages/invoices/src/OutboundShipment/DetailView/SidePanel/RelatedDocumentsSection.tsx
  packages/invoices/src/OutboundShipment/DetailView/Toolbar.tsx
  packages/invoices/src/OutboundShipment/api/api.ts
  packages/invoices/src/OutboundShipment/api/hooks/index.ts
  packages/invoices/src/OutboundShipment/api/hooks/line/index.ts
  packages/invoices/src/OutboundShipment/api/hooks/line/useOutboundAllocateSelectedLines.ts
  packages/invoices/src/OutboundShipment/api/operations.generated.ts
  packages/invoices/src/OutboundShipment/api/operations.graphql
  packages/requisitions/src/RequestRequisition/DetailView/AppBarButtons/UseSuggestedQuantityButton.tsx
  packages/requisitions/src/RequestRequisition/DetailView/RequestLineEdit/ItemCharts/ConsumptionHistory.tsx
  packages/requisitions/src/RequestRequisition/DetailView/RequestLineEdit/ItemCharts/StockDistribution.tsx
  packages/requisitions/src/RequestRequisition/DetailView/RequestLineEdit/ItemCharts/StockEvolution.tsx
  packages/requisitions/src/RequestRequisition/DetailView/RequestLineEdit/RequestLineEditForm.tsx
  packages/requisitions/src/RequestRequisition/DetailView/SidePanel.tsx
  packages/requisitions/src/RequestRequisition/DetailView/Toolbar/Toolbar.tsx
  packages/requisitions/src/ResponseRequisition/DetailView/AppBarButtons/SupplyRequestedQuantityButton.tsx
  packages/system/src/MasterList/DetailView/Toolbar/Toolbar.tsx
Labels: outbound

#1117 Requisition chart data changes
  packages/common/src/intl/date/IntlDate.ts
  packages/common/src/styles/RTLProvider.tsx
  packages/common/src/styles/useAppTheme.ts
  packages/common/src/types/schema.ts
  packages/common/src/ui/components/inputs/Autocomplete/AutocompleteList.tsx
  packages/host/src/components/AuthenticationAlert.tsx
  packages/requisitions/src/RequestRequisition/DetailView/RequestLineEdit/ItemCharts/ConsumptionHistory.tsx
  packages/requisitions/src/RequestRequisition/DetailView/RequestLineEdit/ItemCharts/StockEvolution.tsx
  packages/requisitions/src/RequestRequisition/api/operations.generated.ts
  packages/requisitions/src/RequestRequisition/api/operations.graphql
Labels: v1

#1125 Printing updates
  packages/common/src/api/GqlContext.tsx
  packages/common/src/intl/locales/en/common.json
  packages/common/src/styles/index.ts
  packages/common/src/types/schema.ts
  packages/host/src/Admin/Settings.tsx
  packages/inventory/src/Stocktake/DetailView/AppBarButtons.tsx
  packages/inventory/src/Stocktake/ListView/AppBarButtons.tsx
  packages/invoices/src/InboundShipment/DetailView/AppBarButtons.tsx
  packages/invoices/src/InboundShipment/ListView/AppBarButtons.tsx
  packages/invoices/src/OutboundShipment/DetailView/AppBarButtons.tsx
  packages/invoices/src/OutboundShipment/DetailView/OutboundLineEdit/hooks/useNextItem.test.tsx
  packages/invoices/src/OutboundShipment/ListView/AppBarButtons.tsx
  packages/requisitions/src/RequestRequisition/ListView/AppBarButtons.tsx
  packages/requisitions/src/ResponseRequisition/ListView/AppBarButtons.tsx
  packages/system/src/Location/ListView/AppBarButtons.tsx
  packages/system/src/MasterList/ListView/AppBarButtons.tsx
  packages/system/src/Report/api/hooks.ts
  packages/system/src/Report/api/operations.generated.ts
  packages/system/src/Report/api/operations.graphql
  packages/system/src/Report/components/ReportSelector.tsx
Labels: v1

#1129 #1128 Row hover fix
  packages/common/src/ui/layout/tables/components/DataRow/DataRow.tsx
Labels: Status: To do
