Repository openmsupply/openmsupply-client, pull requests merged in 2022-02, with the labels that each got.

#757 #715 remove outbound shipment save button 5
  packages/invoices/src/OutboundShipment/DetailView/DetailView.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/BatchesTable.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/ItemDetailsForm.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/ItemDetailsModal.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/hooks/index.ts
  packages/invoices/src/OutboundShipment/DetailView/modals/hooks/useDraftOutboundLines.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/hooks/useNextItem.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/hooks/usePackSizeController.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/utils.ts
  packages/invoices/src/OutboundShipment/api/api.ts
  packages/invoices/src/OutboundShipment/api/hooks.ts
  packages/invoices/src/types.ts
Labels: Status: In progress, outbound

#766 tidy autocomplete styles
  packages/common/src/ui/components/inputs/Autocomplete/Autocomplete.stories.tsx
  packages/common/src/ui/components/inputs/Autocomplete/Autocomplete.tsx
  packages/system/src/Name/Components/NameSearchInput/NameSearchInput.tsx
Labels: system

#767 remove batch & expiry table
  packages/common/src/ui/layout/tables/columns/types.ts
  packages/common/src/ui/layout/tables/components/DataRow/DataRow.tsx
  packages/common/src/ui/layout/tables/components/Header/Header.tsx
  packages/common/src/ui/layout/tables/hooks/useColumns/useColumns.tsx
  packages/invoices/src/InboundShipment/DetailView/modals/InboundLineEdit/InboundLineEditPanel.tsx
  packages/invoices/src/InboundShipment/DetailView/modals/InboundLineEdit/TabTables.tsx
Labels: Status: To do, common/library

#769 #765 os modal issue
  packages/invoices/src/OutboundShipment/DetailView/DetailView.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/OutboundLineEdit.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/OutboundLineEditForm.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/OutboundLineEditTable.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/hooks/useDraftOutboundLines.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/hooks/useNextItem.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/hooks/usePackSizeController.tsx
  packages/invoices/src/OutboundShipment/DetailView/reducer.test.ts
  packages/invoices/src/OutboundShipment/DetailView/reducer.ts
Labels: outbound

#775 #733 modal perf issues
  packages/common/package.json
  packages/common/src/api/OmSupplyApiContext.tsx
  packages/common/src/hooks/usePagination/usePagination.ts
  packages/common/src/hooks/useSortBy/useSortBy.ts
  packages/common/src/ui/layout/tables/DataTable.tsx
  packages/common/src/ui/layout/tables/context/TableContext.ts
  packages/common/src/utils/formatters.ts
  packages/invoices/src/InboundShipment/DetailView/api.ts
  packages/invoices/src/InboundShipment/DetailView/columns.ts
  packages/invoices/src/OutboundShipment/DetailView/DetailView.tsx
  packages/invoices/src/OutboundShipment/DetailView/api.ts
  packages/invoices/src/OutboundShipment/DetailView/columns.ts
  packages/invoices/src/OutboundShipment/api/api.ts
  packages/invoices/src/types.ts
  packages/mock-server/src/data/database.ts
  yarn.lock
Labels: Status: To do, inbound, outbound, stocktake

#782 FlatButton updates
  packages/common/src/ui/components/buttons/ButtonShowcase.stories.tsx
  packages/common/src/ui/components/buttons/FlatButton.stories.tsx
  packages/common/src/ui/components/buttons/FlatButton.tsx
  packages/common/src/ui/components/panels/DetailPanelAction.tsx
  packages/common/src/ui/components/portals/DetailPanel/DetailPanel.tsx
  packages/common/src/ui/icons/Filter.tsx
  packages/common/src/ui/icons/Icon.stories.tsx
  packages/common/src/ui/icons/index.ts
Labels: common/library

#786 Add correct filtering condition
  packages/invoices/src/OutboundShipment/DetailView/modals/OutboundLineEditForm.tsx
Labels: outbound

#784 #777 os todo delete outbound lines
  packages/common/src/intl/locales/en/distribution.json
  packages/common/src/operations.graphql
  packages/common/src/types/schema.ts
  packages/invoices/src/OutboundShipment/DetailView/Toolbar.tsx
  packages/invoices/src/OutboundShipment/DetailView/api.ts
  packages/invoices/src/OutboundShipment/DetailView/modals/OutboundLineEditForm.tsx
  packages/invoices/src/OutboundShipment/api/api.ts
  packages/invoices/src/OutboundShipment/api/hooks.ts
  packages/mock-server/src/worker/handlers/invoice/index.ts
Labels: outbound

#783 #777 os todo expando
  packages/common/src/intl/locales/en/distribution.json
  packages/common/src/operations.graphql
  packages/common/src/types/schema.ts
  packages/invoices/src/OutboundShipment/DetailView/ContentArea.tsx
  packages/invoices/src/OutboundShipment/DetailView/Toolbar.tsx
  packages/invoices/src/OutboundShipment/DetailView/api.ts
  packages/invoices/src/OutboundShipment/DetailView/modals/OutboundLineEditForm.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/OutboundLineEditTable.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/hooks/usePackSizeController.test.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/hooks/usePackSizeController.tsx
  packages/invoices/src/OutboundShipment/api/api.ts
  packages/invoices/src/OutboundShipment/api/hooks.ts
  packages/mock-server/src/worker/handlers/invoice/index.ts
Labels: outbound

#780 #777 os todo use next item tests
  packages/common/src/intl/locales/en/distribution.json
  packages/common/src/operations.graphql
  packages/common/src/types/schema.ts
  packages/invoices/src/OutboundShipment/DetailView/ContentArea.tsx
  packages/invoices/src/OutboundShipment/DetailView/Toolbar.tsx
  packages/invoices/src/OutboundShipment/DetailView/api.ts
  packages/invoices/src/OutboundShipment/DetailView/modals/OutboundLineEditForm.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/hooks/useNextItem.test.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/hooks/useNextItem.tsx
  packages/invoices/src/OutboundShipment/api/api.ts
  packages/invoices/src/OutboundShipment/api/hooks.ts
  packages/mock-server/src/worker/handlers/invoice/index.ts
Labels: outbound

#779 #777 Add packSizeController tests
  packages/common/src/intl/locales/en/distribution.json
  packages/common/src/operations.graphql
  packages/common/src/types/schema.ts
  packages/invoices/src/OutboundShipment/DetailView/ContentArea.tsx
  packages/invoices/src/OutboundShipment/DetailView/Toolbar.tsx
  packages/invoices/src/OutboundShipment/DetailView/api.ts
  packages/invoices/src/OutboundShipment/DetailView/modals/OutboundLineEditForm.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/OutboundLineEditTable.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/hooks/useDraftOutboundLines.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/hooks/useNextItem.test.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/hooks/useNextItem.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/hooks/usePackSizeController.test.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/hooks/usePackSizeController.tsx
  packages/invoices/src/OutboundShipment/api/api.ts
  packages/invoices/src/OutboundShipment/api/hooks.ts
  packages/mock-server/src/worker/handlers/invoice/index.ts
Labels: outbound

#790 Add enabling status changes for outbound shipments
  packages/common/src/ui/components/steppers/VerticalStepper/VerticalStepper.tsx
  packages/invoices/src/OutboundShipment/DetailView/Footer.tsx
  packages/invoices/src/OutboundShipment/api/hooks.ts
  packages/mock-server/src/api/mutations/invoice.ts
  packages/mock-server/src/data/database.ts
Labels: outbound

#791 #686 Inbound shipment statuses
  packages/invoices/src/InboundShipment/DetailView/AppBarButtons.tsx
  packages/invoices/src/InboundShipment/DetailView/DetailView.tsx
  packages/invoices/src/InboundShipment/DetailView/Footer.tsx
  packages/invoices/src/InboundShipment/DetailView/Toolbar.tsx
  packages/invoices/src/InboundShipment/DetailView/api.ts
  packages/invoices/src/utils.ts
  packages/mock-server/src/api/mutations/invoice.ts
  packages/mock-server/src/data/database.ts
Labels: Status: To do, inbound

#794 ui updates and misc fixes
  packages/android/build_remote_server_libs.sh
  packages/common/package.json
  packages/common/src/hooks/index.ts
  packages/common/src/intl/locales/en/distribution.json
  packages/common/src/intl/locales/index.ts
  packages/common/src/operations.graphql
  packages/common/src/schema.graphql
  packages/common/src/styles/theme.ts
  packages/common/src/types/schema.ts
  packages/common/src/ui/components/buttons/ToggleButton.tsx
  packages/common/src/ui/components/portals/AppBarButtons/AppBarButtons.tsx
  packages/common/src/ui/components/portals/AppBarContent/AppBarContent.tsx
  packages/common/src/ui/components/portals/AppFooter/AppFooter.tsx
  packages/common/src/ui/components/portals/DetailPanel/DetailPanel.tsx
  packages/common/src/ui/forms/Modal/ModalInput.tsx
  packages/common/src/ui/forms/Modal/ModalInputRow.tsx
  packages/common/src/ui/forms/Modal/ModalLabel.tsx
  packages/common/src/ui/forms/Modal/ModalNumericInput.tsx
  packages/common/src/ui/forms/Modal/ModalRow.tsx
  packages/common/src/ui/forms/Modal/index.ts
  packages/host/public/config.js
  packages/host/public/mockServiceWorker.js
  packages/host/src/components/Login/Login.tsx
  packages/host/src/components/Login/hooks.ts
  packages/invoices/src/InboundShipment/DetailView/api.ts
  packages/invoices/src/InboundShipment/DetailView/modals/InboundLineEdit/InboundLineEditForm.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/OutboundLineEditForm.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/OutboundLineEditTable.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/hooks/useDraftOutboundLines.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/utils.ts
  packages/system/src/Item/types.ts
  packages/system/src/Item/utils.ts
  yarn.lock
Labels: Status: To do

#816 add column
  packages/common/src/operations.graphql
  packages/common/src/types/schema.ts
  packages/common/src/ui/layout/tables/utils/ColumnDefinitionSetBuilder.ts
  packages/system/src/Stock/ListView/ListView.tsx
  packages/system/src/Stock/ListView/api.ts
  packages/system/src/Stock/types.ts
Labels: v1, Stock

#814 Add split button component
  packages/common/src/intl/locales/en/common.json
  packages/common/src/ui/components/buttons/ButtonShowcase.stories.tsx
  packages/common/src/ui/components/buttons/SplitButton.stories.tsx
  packages/common/src/ui/components/buttons/SplitButton.tsx
  packages/common/src/ui/components/buttons/index.ts
  packages/common/src/ui/components/buttons/standard/ButtonWithIcon.tsx
Labels: inbound, outbound, common/library

#817 minor tidy
  packages/common/src/additions.schema.graphql
  packages/common/src/operations.graphql
  packages/common/src/types/schema.ts
Labels: tidy / refactor, supplier requisition, customer requisition, v1

#809 #686 allocate quantities tests
  .swcrc
  jest.config.js
  packages/invoices/src/OutboundShipment/DetailView/modals/OutboundLineEdit.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/utils.test.ts
  packages/invoices/src/OutboundShipment/DetailView/modals/utils.ts
Labels: Status: To do, inbound

#820 #813 skipping outbound statuses
  packages/common/src/ui/components/buttons/ButtonShowcase.stories.tsx
  packages/common/src/ui/components/buttons/SplitButton.stories.tsx
  packages/common/src/ui/components/buttons/SplitButton.tsx
  packages/invoices/src/OutboundShipment/DetailView/Footer/Footer.tsx
  packages/invoices/src/OutboundShipment/DetailView/Footer/StatusChangeButton.tsx
  packages/invoices/src/OutboundShipment/DetailView/Footer/index.ts
  packages/invoices/src/utils.ts
Labels: inbound, outbound, common/library

#821 master list, list view
  packages/common/src/intl/locales/en/app.json
  packages/common/src/intl/locales/en/inventory.json
  packages/common/src/operations.graphql
  packages/common/src/schema.graphql
  packages/common/src/types/schema.ts
  packages/config/src/routes.ts
  packages/host/src/CommandK.tsx
  packages/host/src/components/Navigation/InventoryNav.tsx
  packages/host/src/routers/InventoryRouter.tsx
  packages/inventory/src/InventoryService.tsx
  packages/inventory/src/Stocktake/DetailView/DetailView.tsx
  packages/mock-server/src/api/resolvers/index.ts
  packages/mock-server/src/api/resolvers/masterList.ts
  packages/mock-server/src/api/resolvers/masterListLine.ts
  packages/mock-server/src/data/data.ts
  packages/mock-server/src/data/database.ts
  packages/mock-server/src/data/types.ts
  packages/mock-server/src/schema/MasterList.ts
  packages/mock-server/src/worker/handlers/index.ts
  packages/mock-server/src/worker/handlers/masterList/index.ts
  packages/system/src/MasterList/ListView/AppBarButtons.tsx
  packages/system/src/MasterList/ListView/ListView.tsx
  packages/system/src/MasterList/ListView/Toolbar.tsx
  packages/system/src/MasterList/ListView/api.ts
  packages/system/src/MasterList/ListView/index.ts
  packages/system/src/MasterList/Service/Service.tsx
  packages/system/src/MasterList/Service/index.ts
  packages/system/src/MasterList/index.ts
  packages/system/src/MasterList/types.ts
Labels: v1, Master List

#823 #792 status confirmation
  packages/common/src/intl/locales/en/common.json
  packages/common/src/intl/locales/en/distribution.json
  packages/common/src/ui/components/modals/ConfirmationModal/ConfirmationModal.stories.tsx
  packages/common/src/ui/components/modals/ConfirmationModal/ConfirmationModal.tsx
  packages/common/src/ui/components/modals/ConfirmationModal/ConfirmationModalProvider.stories.tsx
  packages/common/src/ui/components/modals/ConfirmationModal/ConfirmationModalProvider.tsx
  packages/common/src/ui/components/modals/ConfirmationModal/index.ts
  packages/common/src/utils/testing.tsx
  packages/host/src/Host.tsx
  packages/invoices/src/OutboundShipment/DetailView/Footer/StatusChangeButton.tsx
Labels: inbound, outbound, common/library

#824 Add status change confirmation
  packages/invoices/src/InboundShipment/DetailView/Footer/Footer.tsx
  packages/invoices/src/InboundShipment/DetailView/Footer/StatusChangeButton.tsx
  packages/invoices/src/InboundShipment/DetailView/Footer/index.ts
  packages/invoices/src/utils.ts
Labels: inbound, outbound, common/library

#829 #631 split gql files
  codegen.yml
  package.json
  packages/common/src/api/OmSupplyApiContext.tsx
  packages/common/src/operations.generated.ts
  packages/common/src/operations.graphql
  packages/common/src/schema.graphql
  packages/common/src/types/index.ts
  packages/common/src/types/schema.ts
  packages/invoices/src/OutboundShipment/api/api.ts
  packages/invoices/src/OutboundShipment/api/operations.generated.ts
  packages/invoices/src/OutboundShipment/api/operations.graphql
  yarn.lock
Labels: Status: To do, common/library

#833 Add new requisition queries in requisition module
  packages/requisitions/src/CustomerRequisition/api/operations.graphql
  packages/requisitions/src/SupplierRequisition/DetailView/ContentArea.tsx
  packages/requisitions/src/SupplierRequisition/DetailView/DetailView.tsx
  packages/requisitions/src/SupplierRequisition/DetailView/Footer.tsx
  packages/requisitions/src/SupplierRequisition/DetailView/SidePanel.tsx
  packages/requisitions/src/SupplierRequisition/DetailView/Toolbar.tsx
  packages/requisitions/src/SupplierRequisition/DetailView/columns.ts
  packages/requisitions/src/SupplierRequisition/ListView/ListView.tsx
  packages/requisitions/src/SupplierRequisition/ListView/api.ts
  packages/requisitions/src/SupplierRequisition/api/api.ts
  packages/requisitions/src/SupplierRequisition/api/hooks.ts
  packages/requisitions/src/SupplierRequisition/api/index.ts
  packages/requisitions/src/SupplierRequisition/api/operations.generated.ts
  packages/requisitions/src/SupplierRequisition/api/operations.graphql
  packages/requisitions/src/utils.ts
Labels: supplier requisition, customer requisition

#834 #831 Use storeID and requisition number for request requisition queries
  packages/requisitions/src/RequisitionService.tsx
  packages/requisitions/src/SupplierRequisition/ListView/ListView.tsx
  packages/requisitions/src/SupplierRequisition/api/api.ts
  packages/requisitions/src/SupplierRequisition/api/hooks.ts
  packages/requisitions/src/SupplierRequisition/api/operations.generated.ts
  packages/requisitions/src/SupplierRequisition/api/operations.graphql
Labels: supplier requisition, customer requisition

#835 #831 Add feature to only show stores within the name search modal and requisitions statuses
  packages/common/src/intl/locales/en/replenishment.json
  packages/common/src/operations.generated.ts
  packages/common/src/operations.graphql
  packages/common/src/types/index.ts
  packages/requisitions/src/SupplierRequisition/DetailView/DetailView.tsx
  packages/requisitions/src/SupplierRequisition/DetailView/Footer.tsx
  packages/requisitions/src/SupplierRequisition/DetailView/Footer/Footer.tsx
  packages/requisitions/src/SupplierRequisition/DetailView/Footer/StatusChangeButton.tsx
  packages/requisitions/src/SupplierRequisition/DetailView/Footer/index.ts
  packages/requisitions/src/SupplierRequisition/api/api.ts
  packages/requisitions/src/SupplierRequisition/api/hooks.ts
  packages/requisitions/src/utils.ts
  packages/system/src/Name/Components/NameSearchModal/NameSearchModal.tsx
Labels: supplier requisition, customer requisition

#840 #831 Add other party / supplier input for supplier requisition
  packages/requisitions/src/SupplierRequisition/DetailView/SidePanel.tsx
  packages/requisitions/src/SupplierRequisition/DetailView/Toolbar.tsx
  packages/requisitions/src/SupplierRequisition/api/operations.generated.ts
  packages/requisitions/src/SupplierRequisition/api/operations.graphql
  packages/system/src/Name/Components/NameSearchInput/NameSearchInput.tsx
Labels: supplier requisition, customer requisition

#841 #831 Add renaming from supplier requisition to request requisition
  packages/common/src/intl/locales/en/app.json
  packages/common/src/intl/locales/fr/app.json
  packages/common/src/operations.generated.ts
  packages/common/src/operations.graphql
  packages/config/src/routes.ts
  packages/host/src/components/Navigation/ReplenishmentNav.tsx
  packages/host/src/routers/ReplenishmentRouter.tsx
  packages/requisitions/README.md
  packages/requisitions/src/CustomerRequisition/DetailView/Footer.tsx
  packages/requisitions/src/CustomerRequisition/api/hooks.ts
  packages/requisitions/src/RequestRequisition/DetailView/AppBarButtons.tsx
  packages/requisitions/src/RequestRequisition/DetailView/ContentArea.tsx
  packages/requisitions/src/RequestRequisition/DetailView/DetailView.tsx
  packages/requisitions/src/RequestRequisition/DetailView/Footer/Footer.tsx
  packages/requisitions/src/RequestRequisition/DetailView/Footer/StatusChangeButton.tsx
  packages/requisitions/src/RequestRequisition/DetailView/Footer/index.ts
  packages/requisitions/src/RequestRequisition/DetailView/SidePanel.tsx
  packages/requisitions/src/RequestRequisition/DetailView/Toolbar.tsx
  packages/requisitions/src/RequestRequisition/DetailView/columns.ts
  packages/requisitions/src/RequestRequisition/DetailView/index.ts
  packages/requisitions/src/RequestRequisition/ListView/AppBarButtons.tsx
  packages/requisitions/src/RequestRequisition/ListView/ListView.tsx
  packages/requisitions/src/RequestRequisition/ListView/Toolbar.tsx
  packages/requisitions/src/RequestRequisition/ListView/index.ts
  packages/requisitions/src/RequestRequisition/api/api.ts
  packages/requisitions/src/RequestRequisition/api/hooks.ts
  packages/requisitions/src/RequestRequisition/api/index.ts
  packages/requisitions/src/RequestRequisition/api/operations.generated.ts
  packages/requisitions/src/RequestRequisition/api/operations.graphql
  packages/requisitions/src/RequestRequisition/index.ts
  packages/requisitions/src/RequisitionService.tsx
  packages/requisitions/src/SupplierRequisition/ListView/api.ts
  packages/requisitions/src/index.ts
  packages/requisitions/src/utils.ts
Labels: supplier requisition, customer requisition

#842 Add pagination, filtering & sorting
  packages/requisitions/src/RequestRequisition/ListView/ListView.tsx
  packages/requisitions/src/RequestRequisition/ListView/Toolbar.tsx
  packages/requisitions/src/RequestRequisition/api/api.ts
  packages/requisitions/src/RequestRequisition/api/hooks.ts
  packages/requisitions/src/RequestRequisition/api/operations.generated.ts
  packages/requisitions/src/RequestRequisition/api/operations.graphql
  packages/requisitions/src/utils.ts
Labels: supplier requisition, customer requisition

#844 Add response requisition queries
  packages/requisitions/src/CustomerRequisition/api/api.ts
  packages/requisitions/src/CustomerRequisition/api/hooks.ts
  packages/requisitions/src/CustomerRequisition/api/operations.generated.ts
  packages/requisitions/src/CustomerRequisition/api/operations.graphql
Labels: customer requisition

#845 #843 response requisitions queries 2
  packages/requisitions/src/CustomerRequisition/ListView/AppBarButtons.tsx
  packages/requisitions/src/CustomerRequisition/ListView/ListView.tsx
  packages/requisitions/src/CustomerRequisition/ListView/Toolbar.tsx
  packages/requisitions/src/CustomerRequisition/api/hooks.ts
  packages/requisitions/src/CustomerRequisition/api/index.ts
  packages/requisitions/src/utils.ts
Labels: customer requisition

#846 #843 response requisition queries 3
  codegen.yml
  packages/common/src/operations.generated.ts
  packages/invoices/src/InboundShipment/api/operations.generated.ts
  packages/invoices/src/OutboundShipment/api/operations.generated.ts
  packages/requisitions/src/CustomerRequisition/DetailView/AppBarButtons.tsx
  packages/requisitions/src/CustomerRequisition/DetailView/ContentArea.tsx
  packages/requisitions/src/CustomerRequisition/DetailView/DetailView.tsx
  packages/requisitions/src/CustomerRequisition/DetailView/Footer.tsx
  packages/requisitions/src/CustomerRequisition/DetailView/SidePanel.tsx
  packages/requisitions/src/CustomerRequisition/DetailView/Toolbar.tsx
  packages/requisitions/src/CustomerRequisition/DetailView/columns.ts
  packages/requisitions/src/CustomerRequisition/ListView/api.ts
  packages/requisitions/src/CustomerRequisition/api/operations.generated.ts
  packages/requisitions/src/RequestRequisition/api/operations.generated.ts
  packages/system/src/Item/utils.ts
Labels: customer requisition

#848 #843 response requisition queries 4
  packages/common/src/operations.graphql
  packages/requisitions/src/RequisitionService.tsx
  packages/requisitions/src/ResponseRequisition/DetailView/AppBarButtons.tsx
  packages/requisitions/src/ResponseRequisition/DetailView/ContentArea.tsx
  packages/requisitions/src/ResponseRequisition/DetailView/DetailView.tsx
  packages/requisitions/src/ResponseRequisition/DetailView/Footer.tsx
  packages/requisitions/src/ResponseRequisition/DetailView/SidePanel.tsx
  packages/requisitions/src/ResponseRequisition/DetailView/Toolbar.tsx
  packages/requisitions/src/ResponseRequisition/DetailView/columns.ts
  packages/requisitions/src/ResponseRequisition/DetailView/index.ts
  packages/requisitions/src/ResponseRequisition/ListView/AppBarButtons.tsx
  packages/requisitions/src/ResponseRequisition/ListView/ListView.tsx
  packages/requisitions/src/ResponseRequisition/ListView/Toolbar.tsx
  packages/requisitions/src/ResponseRequisition/ListView/index.ts
  packages/requisitions/src/ResponseRequisition/api/api.ts
  packages/requisitions/src/ResponseRequisition/api/hooks.ts
  packages/requisitions/src/ResponseRequisition/api/index.ts
  packages/requisitions/src/ResponseRequisition/api/operations.generated.ts
  packages/requisitions/src/ResponseRequisition/api/operations.graphql
  packages/requisitions/src/ResponseRequisition/index.ts
  packages/requisitions/src/index.ts
  packages/requisitions/src/utils.ts
Labels: customer requisition

#850 #847 Stocktake operations
  packages/common/src/operations.generated.ts
  packages/common/src/operations.graphql
  packages/inventory/src/Stocktake/api/api.ts
  packages/inventory/src/Stocktake/api/hooks.ts
  packages/inventory/src/Stocktake/api/operations.generated.ts
  packages/inventory/src/Stocktake/api/operations.graphql
  packages/inventory/src/types.ts
  packages/invoices/src/InboundShipment/Dashboard/Widget.tsx
  packages/invoices/src/InboundShipment/Dashboard/api.ts
  packages/invoices/src/InboundShipment/api/operations.generated.ts
  packages/invoices/src/InboundShipment/api/operations.graphql
  packages/invoices/src/OutboundShipment/Dashboard/Widget.tsx
  packages/invoices/src/OutboundShipment/Dashboard/api.ts
  packages/invoices/src/OutboundShipment/api/operations.generated.ts
  packages/invoices/src/OutboundShipment/api/operations.graphql
Labels: stocktake

#851 #847 Stocktake list view using new API
  packages/inventory/src/Stocktake/ListView/AppBarButtons.tsx
  packages/inventory/src/Stocktake/ListView/ListView.tsx
  packages/inventory/src/Stocktake/ListView/Toolbar.tsx
  packages/inventory/src/Stocktake/api/hooks.ts
  packages/inventory/src/Stocktake/api/index.ts
Labels: stocktake

#855 #847 Stocktake query updates for DetailView
  codegen.yml
  packages/common/src/types/schema.ts
  packages/inventory/src/Stocktake/DetailView/ContentArea.tsx
  packages/inventory/src/Stocktake/DetailView/DetailView.tsx
  packages/inventory/src/Stocktake/DetailView/Footer.tsx
  packages/inventory/src/Stocktake/DetailView/SidePanel.tsx
  packages/inventory/src/Stocktake/DetailView/Toolbar.tsx
  packages/inventory/src/Stocktake/DetailView/columns.ts
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/StocktakeLineEditForm.tsx
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/StocktakeLinePanel.tsx
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/hooks.ts
  packages/inventory/src/Stocktake/ListView/api.ts
  packages/inventory/src/Stocktake/api/api.ts
  packages/inventory/src/Stocktake/api/hooks.ts
  packages/inventory/src/Stocktake/api/operations.generated.ts
  packages/inventory/src/Stocktake/api/operations.graphql
  packages/inventory/src/types.ts
  packages/inventory/src/utils.ts
Labels: stocktake

#856 #830 Inbound and Outbound Shipment mutations
  packages/common/src/ui/layout/tables/columns/NameAndColorColumn.tsx
  packages/invoices/src/InboundShipment/DetailView/SidePanel.tsx
  packages/invoices/src/InboundShipment/DetailView/api.ts
  packages/invoices/src/InboundShipment/ListView/ListView.tsx
  packages/invoices/src/InboundShipment/ListView/api.ts
  packages/invoices/src/InboundShipment/api/operations.generated.ts
  packages/invoices/src/InboundShipment/api/operations.graphql
  packages/invoices/src/OutboundShipment/Dashboard/Widget.tsx
  packages/invoices/src/OutboundShipment/DetailView/SidePanel.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/hooks/usePackSizeController.test.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/hooks/usePackSizeController.tsx
  packages/invoices/src/OutboundShipment/ListView/ListView.tsx
  packages/invoices/src/OutboundShipment/ListView/Toolbar.tsx
  packages/invoices/src/OutboundShipment/ListView/api.ts
  packages/invoices/src/OutboundShipment/api/api.ts
  packages/invoices/src/OutboundShipment/api/hooks.ts
  packages/invoices/src/OutboundShipment/api/operations.generated.ts
  packages/invoices/src/OutboundShipment/api/operations.graphql
  packages/invoices/src/utils.ts
Labels: v1

#865 #854 use requisition numbers for responses
  packages/host/src/CommandK.tsx
  packages/requisitions/src/RequisitionService.tsx
  packages/requisitions/src/ResponseRequisition/ListView/ListView.tsx
  packages/requisitions/src/ResponseRequisition/api/api.ts
  packages/requisitions/src/ResponseRequisition/api/hooks.ts
Labels: customer requisition

#868 #857 Update Stocktakes to use item field rather than flattened item fields
  packages/common/src/operations.generated.ts
  packages/common/src/operations.graphql
  packages/inventory/src/Stocktake/DetailView/DetailView.tsx
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/StocktakeLineEdit.tsx
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/StocktakeLineEditForm.tsx
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/hooks.ts
  packages/inventory/src/Stocktake/api/hooks.ts
  packages/inventory/src/Stocktake/api/operations.graphql
  packages/inventory/src/types.ts
  packages/system/src/Item/Components/ItemSearchInput/ItemSearchInput.tsx
  packages/system/src/Item/ListView/ListView.tsx
  packages/system/src/Item/ListView/api.ts
  packages/system/src/Item/api/api.ts
  packages/system/src/Item/api/hooks/index.ts
  packages/system/src/Item/api/hooks/useItem/index.ts
  packages/system/src/Item/api/hooks/useItem/useItem.ts
  packages/system/src/Item/api/hooks/useItemApi/index.ts
  packages/system/src/Item/api/hooks/useItemApi/useItemApi.ts
  packages/system/src/Item/api/hooks/useItemListView/index.ts
  packages/system/src/Item/api/hooks/useItemListView/useItemListView.ts
  packages/system/src/Item/api/hooks/useItemsList/index.ts
  packages/system/src/Item/api/hooks/useItemsList/useItemsList.ts
  packages/system/src/Item/api/hooks/useStockLines/index.ts
  packages/system/src/Item/api/hooks/useStockLines/useStockLines.tsx
  packages/system/src/Item/api/index.ts
  packages/system/src/Item/api/operations.generated.ts
  packages/system/src/Item/api/operations.graphql
  packages/system/src/Item/index.ts
Labels: system, stocktake

#875 #807 delete location
  packages/common/src/intl/locales/en/distribution.json
  packages/common/src/intl/locales/en/inventory.json
  packages/common/src/intl/locales/en/replenishment.json
  packages/common/src/intl/locales/fr/replenishment.json
  packages/common/src/operations.generated.ts
  packages/common/src/operations.graphql
  packages/common/src/ui/components/portals/AppFooter/AppFooter.tsx
  packages/common/src/ui/notifications/AlertModal.tsx
  packages/inventory/src/Stocktake/ListView/Toolbar.tsx
  packages/invoices/src/InboundShipment/DetailView/Footer/StatusChangeButton.tsx
  packages/invoices/src/InboundShipment/DetailView/Toolbar.tsx
  packages/invoices/src/InboundShipment/ListView/Toolbar.tsx
  packages/invoices/src/OutboundShipment/DetailView/Footer/StatusChangeButton.tsx
  packages/invoices/src/OutboundShipment/ListView/Toolbar.tsx
  packages/invoices/src/OutboundShipment/api/hooks.ts
  packages/requisitions/src/RequestRequisition/DetailView/Footer/StatusChangeButton.tsx
  packages/requisitions/src/RequestRequisition/ListView/Toolbar.tsx
  packages/requisitions/src/ResponseRequisition/ListView/Toolbar.tsx
  packages/system/src/Location/ListView/ListView.tsx
  packages/system/src/Location/ListView/LocationEditModal/LocationEditModal.tsx
  packages/system/src/Location/ListView/Toolbar.tsx
  packages/system/src/Location/ListView/api.ts
Labels: Status: To do, locations, v1

#873 #858 Handling summary items within stocktake columns for item fields
  packages/inventory/src/Stocktake/DetailView/ContentArea/ContentArea.tsx
  packages/inventory/src/Stocktake/DetailView/ContentArea/columns.ts
  packages/inventory/src/Stocktake/DetailView/ContentArea/index.ts
  packages/inventory/src/Stocktake/DetailView/index.ts
  packages/inventory/src/Stocktake/api/hooks.ts
Labels: stocktake

#874 #859 Stocktake creation
  packages/common/src/utils/formatters.ts
  packages/inventory/src/InventoryService.tsx
  packages/inventory/src/Stocktake/DetailView/ContentArea/ContentArea.tsx
  packages/inventory/src/Stocktake/DetailView/DetailView.tsx
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/StocktakeLineEditTables.tsx
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/hooks.ts
  packages/inventory/src/Stocktake/ListView/AppBarButtons.tsx
  packages/inventory/src/Stocktake/ListView/ListView.tsx
  packages/inventory/src/Stocktake/api/api.ts
  packages/inventory/src/Stocktake/api/hooks.ts
  packages/inventory/src/Stocktake/api/operations.generated.ts
  packages/inventory/src/Stocktake/api/operations.graphql
  packages/system/src/Item/Components/ItemSearchInput/ItemSearchInput.tsx
Labels: stocktake

#876 #869 Confirmation modal for stocktake status updates
  packages/common/src/intl/locales/en/inventory.json
  packages/inventory/src/Stocktake/DetailView/Footer.tsx
  packages/inventory/src/Stocktake/DetailView/Footer/Footer.tsx
  packages/inventory/src/Stocktake/DetailView/Footer/StatusChangeButton.tsx
  packages/inventory/src/Stocktake/DetailView/Footer/index.ts
  packages/inventory/src/utils.ts
Labels: stocktake

#877 #861 Stocktake line deletion
  packages/common/src/intl/locales/en/inventory.json
  packages/inventory/src/Stocktake/DetailView/Toolbar.tsx
  packages/inventory/src/Stocktake/api/api.ts
  packages/inventory/src/Stocktake/api/hooks.ts
Labels: stocktake

#881 Set Authorization header
  packages/common/package.json
  packages/common/src/hooks/index.ts
  packages/common/src/hooks/useAuthState.ts
  packages/common/src/hooks/useHostContext.ts
  packages/host/src/components/Login/Login.tsx
  packages/host/src/components/Login/api.ts
  packages/host/src/components/Login/hooks.ts
  packages/host/src/components/Navigation/RequireAuthentication.tsx
  yarn.lock
Labels: Status: In progress, v1

#883 #575 request req add lines
  packages/invoices/src/InboundShipment/DetailView/DetailView.tsx
  packages/requisitions/src/RequestRequisition/DetailView/ContentArea.tsx
  packages/requisitions/src/RequestRequisition/DetailView/DetailView.tsx
  packages/requisitions/src/RequestRequisition/DetailView/RequestLineEdit/RequestLineEdit.tsx
  packages/requisitions/src/RequestRequisition/DetailView/RequestLineEdit/RequestLineEditForm.tsx
  packages/requisitions/src/RequestRequisition/DetailView/RequestLineEdit/hooks.tsx
  packages/requisitions/src/RequestRequisition/DetailView/RequestLineEdit/index.ts
  packages/requisitions/src/RequestRequisition/api/operations.generated.ts
  packages/requisitions/src/RequestRequisition/api/operations.graphql
  packages/requisitions/src/ResponseRequisition/DetailView/ContentArea.tsx
  packages/requisitions/src/ResponseRequisition/DetailView/DetailView.tsx
  packages/requisitions/src/ResponseRequisition/DetailView/ResponseLineEdit/ResponseLineEdit.tsx
  packages/requisitions/src/ResponseRequisition/DetailView/ResponseLineEdit/ResponseLineEditForm.tsx
  packages/requisitions/src/ResponseRequisition/DetailView/ResponseLineEdit/hooks.tsx
  packages/requisitions/src/ResponseRequisition/DetailView/ResponseLineEdit/index.ts
  packages/requisitions/src/ResponseRequisition/api/operations.generated.ts
  packages/requisitions/src/ResponseRequisition/api/operations.graphql
Labels: Status: In progress, supplier requisition, v1

#887 #575 request req add lines 2
  packages/common/src/types/schema.ts
  packages/invoices/src/InboundShipment/api/operations.generated.ts
  packages/invoices/src/InboundShipment/api/operations.graphql
  packages/invoices/src/OutboundShipment/DetailView/modals/hooks/useNextItem.test.tsx
  packages/requisitions/src/RequestRequisition/DetailView/ContentArea.tsx
  packages/requisitions/src/RequestRequisition/DetailView/DetailView.tsx
  packages/requisitions/src/RequestRequisition/DetailView/RequestLineEdit/RequestLineEdit.tsx
  packages/requisitions/src/RequestRequisition/DetailView/RequestLineEdit/RequestLineEditForm.tsx
  packages/requisitions/src/RequestRequisition/DetailView/columns.ts
  packages/requisitions/src/RequestRequisition/api/api.ts
  packages/requisitions/src/RequestRequisition/api/hooks.ts
  packages/requisitions/src/RequestRequisition/api/operations.generated.ts
  packages/requisitions/src/RequestRequisition/api/operations.graphql
  packages/requisitions/src/ResponseRequisition/api/operations.generated.ts
  packages/requisitions/src/ResponseRequisition/api/operations.graphql
  packages/system/src/Item/Components/ItemSearchInput/ItemSearchInput.tsx
  packages/system/src/Item/utils.ts
Labels: Status: In progress, supplier requisition, v1

#891 #889 nested union responses
  packages/common/src/operations.generated.ts
  packages/common/src/operations.graphql
  packages/common/src/types/index.ts
  packages/common/src/types/schema.ts
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/hooks.ts
  packages/inventory/src/Stocktake/api/operations.generated.ts
  packages/inventory/src/Stocktake/api/operations.graphql
  packages/invoices/src/InboundShipment/DetailView/api.ts
  packages/invoices/src/InboundShipment/ListView/api.ts
  packages/invoices/src/InboundShipment/api/operations.generated.ts
  packages/invoices/src/InboundShipment/api/operations.graphql
  packages/invoices/src/OutboundShipment/ListView/ListView.tsx
  packages/invoices/src/OutboundShipment/ListView/api.ts
  packages/invoices/src/OutboundShipment/api/api.ts
  packages/invoices/src/OutboundShipment/api/operations.generated.ts
  packages/invoices/src/OutboundShipment/api/operations.graphql
  packages/invoices/src/types.ts
  packages/requisitions/src/RequestRequisition/api/hooks.ts
  packages/requisitions/src/RequestRequisition/api/operations.generated.ts
  packages/requisitions/src/RequestRequisition/api/operations.graphql
  packages/requisitions/src/ResponseRequisition/api/operations.generated.ts
  packages/requisitions/src/ResponseRequisition/api/operations.graphql
  packages/system/src/Item/Components/ItemSearchInput/ItemSearchInput.tsx
  packages/system/src/Item/api/api.ts
  packages/system/src/Item/api/hooks/useStockLines/useStockLines.tsx
  packages/system/src/Item/api/operations.generated.ts
  packages/system/src/Item/api/operations.graphql
  packages/system/src/Item/utils.ts
  packages/system/src/Location/ListView/api.ts
  packages/system/src/MasterList/ListView/ListView.tsx
  packages/system/src/MasterList/ListView/api.ts
  packages/system/src/Name/ListView/api.ts
  packages/system/src/Name/hooks/useNames.ts
  packages/system/src/Stock/ListView/api.ts
Labels: inbound, outbound, system

#893 Remove drawer hover expand
  packages/common/src/hooks/useDrawer.ts
  packages/common/src/styles/RTLProvider.tsx
  packages/common/src/ui/components/navigation/AppNavLink/AppNavLink.test.tsx
  packages/common/src/ui/components/navigation/AppNavLink/AppNavLink.tsx
  packages/host/src/components/AppDrawer/AppDrawer.tsx
  packages/host/src/components/Navigation/CatalogueNav.tsx
  packages/host/src/components/Navigation/DistributionNav.tsx
  packages/host/src/components/Navigation/InventoryNav.tsx
  packages/host/src/components/Navigation/ReplenishmentNav.tsx
  packages/host/src/components/Navigation/useNestedNav.ts
  packages/host/src/routers/CatalogueRouter.tsx
  packages/host/src/routers/InventoryRouter.tsx
Labels: common/library, v1

#896 Add stock level widget to dashboard
  packages/common/src/intl/locales/en/dashboard.json
  packages/common/src/operations.generated.ts
  packages/common/src/operations.graphql
  packages/common/src/styles/RTLProvider.tsx
  packages/dashboard/src/api.ts
  packages/dashboard/src/api/api.ts
  packages/dashboard/src/api/hooks.ts
  packages/dashboard/src/api/index.ts
  packages/dashboard/src/api/operations.generated.ts
  packages/dashboard/src/api/operations.graphql
  packages/dashboard/src/widgets/StockWidget.tsx
Labels: v1

#898 Set theme direction
  packages/common/src/styles/theme.ts
  packages/common/src/styles/useAppTheme.ts
Labels: Blocked, Status: To do, common/library

#894 #575 request req line 3
  packages/common/src/hooks/useDialog/useDialog.tsx
  packages/common/src/intl/locales/en/common.json
  packages/common/src/intl/locales/en/replenishment.json
  packages/requisitions/src/RequestRequisition/DetailView/DetailView.tsx
  packages/requisitions/src/RequestRequisition/DetailView/RequestLineEdit/RequestLineEdit.tsx
  packages/requisitions/src/RequestRequisition/DetailView/RequestLineEdit/RequestLineEditForm.tsx
  packages/requisitions/src/RequestRequisition/DetailView/RequestLineEdit/hooks.tsx
  packages/requisitions/src/RequestRequisition/api/api.ts
  packages/requisitions/src/RequestRequisition/api/hooks.ts
  packages/requisitions/src/RequestRequisition/api/operations.generated.ts
  packages/requisitions/src/RequestRequisition/api/operations.graphql
  packages/system/src/Item/Components/ItemSearchInput/ItemSearchInput.tsx
Labels: Status: In progress, supplier requisition, v1

#897 #895 internal order columns
  packages/common/src/intl/locales/en/common.json
  packages/common/src/ui/layout/tables/utils/ColumnDefinitionSetBuilder.ts
  packages/common/src/utils/NumUtils.test.ts
  packages/common/src/utils/NumUtils.ts
  packages/common/src/utils/index.ts
  packages/common/src/utils/quantities.test.ts
  packages/common/src/utils/quantities.ts
  packages/requisitions/src/RequestRequisition/DetailView/columns.ts
  packages/requisitions/src/ResponseRequisition/DetailView/columns.ts
Labels: supplier requisition

#902 #590 Response req line 1
  packages/common/src/intl/locales/en/distribution.json
  packages/requisitions/src/RequestRequisition/api/operations.generated.ts
  packages/requisitions/src/RequestRequisition/api/operations.graphql
  packages/requisitions/src/ResponseRequisition/DetailView/AppBarButtons.tsx
  packages/requisitions/src/ResponseRequisition/DetailView/DetailView.tsx
  packages/requisitions/src/ResponseRequisition/DetailView/ResponseLineEdit/ResponseLineEdit.tsx
  packages/requisitions/src/ResponseRequisition/DetailView/ResponseLineEdit/ResponseLineEditForm.tsx
  packages/requisitions/src/ResponseRequisition/DetailView/ResponseLineEdit/hooks.tsx
  packages/requisitions/src/ResponseRequisition/api/api.ts
  packages/requisitions/src/ResponseRequisition/api/hooks.ts
  packages/requisitions/src/ResponseRequisition/api/operations.generated.ts
  packages/requisitions/src/ResponseRequisition/api/operations.graphql
Labels: customer requisition, v1

#903 Add response requisition next button implementation
  packages/requisitions/src/ResponseRequisition/DetailView/ResponseLineEdit/ResponseLineEdit.tsx
  packages/requisitions/src/ResponseRequisition/DetailView/ResponseLineEdit/ResponseLineEditForm.tsx
  packages/requisitions/src/ResponseRequisition/DetailView/ResponseLineEdit/hooks.tsx
Labels: customer requisition

#904 #900 request req next button
  packages/requisitions/src/RequestRequisition/DetailView/RequestLineEdit/RequestLineEdit.tsx
  packages/requisitions/src/RequestRequisition/DetailView/RequestLineEdit/hooks.tsx
Labels: supplier requisition

#906 Add storeIDs to queries
  packages/common/src/operations.generated.ts
  packages/common/src/operations.graphql
  packages/common/src/types/schema.ts
  packages/dashboard/src/api/operations.generated.ts
  packages/dashboard/src/api/operations.graphql
  packages/invoices/src/InboundShipment/Dashboard/Widget.tsx
  packages/invoices/src/InboundShipment/Dashboard/api.ts
  packages/invoices/src/InboundShipment/DetailView/api.ts
  packages/invoices/src/InboundShipment/ListView/api.ts
  packages/invoices/src/InboundShipment/api/operations.generated.ts
  packages/invoices/src/InboundShipment/api/operations.graphql
  packages/invoices/src/OutboundShipment/Dashboard/Widget.tsx
  packages/invoices/src/OutboundShipment/Dashboard/api.ts
  packages/invoices/src/OutboundShipment/ListView/api.ts
  packages/invoices/src/OutboundShipment/api/operations.generated.ts
  packages/invoices/src/OutboundShipment/api/operations.graphql
  packages/system/src/Item/api/api.ts
  packages/system/src/Item/api/hooks/useItemListView/useItemListView.ts
  packages/system/src/Item/api/operations.generated.ts
  packages/system/src/Item/api/operations.graphql
  packages/system/src/Location/ListView/api.ts
  packages/system/src/Name/ListView/ListView.tsx
  packages/system/src/Name/ListView/api.ts
  packages/system/src/Name/hooks/useNames.ts
Labels: Chore

#907 #860 stocktake deletion
  packages/common/src/intl/locales/en/inventory.json
  packages/inventory/src/Stocktake/ListView/ListView.tsx
  packages/inventory/src/Stocktake/ListView/Toolbar.tsx
  packages/inventory/src/Stocktake/api/api.ts
  packages/inventory/src/Stocktake/api/hooks.ts
Labels: Blocked, stocktake, needs details/discussion, v1

#908 #867 Requisition deletions
  packages/inventory/src/Stocktake/api/hooks.ts
  packages/requisitions/src/RequestRequisition/ListView/ListView.tsx
  packages/requisitions/src/RequestRequisition/ListView/Toolbar.tsx
  packages/requisitions/src/RequestRequisition/api/api.ts
  packages/requisitions/src/RequestRequisition/api/hooks.ts
  packages/requisitions/src/RequestRequisition/api/operations.generated.ts
  packages/requisitions/src/RequestRequisition/api/operations.graphql
  packages/requisitions/src/ResponseRequisition/ListView/ListView.tsx
  packages/requisitions/src/ResponseRequisition/ListView/Toolbar.tsx
  packages/requisitions/src/utils.ts
Labels: Blocked, Status: To do, supplier requisition, customer requisition, needs details/discussion, v1

#910 Add placeholder row mutation implementation
  packages/common/src/utils/arrays/utils.ts
  packages/invoices/src/OutboundShipment/DetailView/modals/OutboundLineEdit.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/OutboundLineEditTable.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/hooks/useDraftOutboundLines.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/hooks/usePackSizeController.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/utils.test.ts
  packages/invoices/src/OutboundShipment/DetailView/modals/utils.ts
  packages/invoices/src/OutboundShipment/api/api.ts
  packages/invoices/src/OutboundShipment/api/operations.generated.ts
  packages/invoices/src/OutboundShipment/api/operations.graphql
  packages/invoices/src/types.ts
Labels: Status: To do, outbound

#913 #882 remaining operations from common
  packages/common/src/operations.generated.ts
  packages/common/src/operations.graphql
  packages/system/src/MasterList/ListView/ListView.tsx
  packages/system/src/MasterList/ListView/api.ts
  packages/system/src/MasterList/api/api.ts
  packages/system/src/MasterList/api/hooks.ts
  packages/system/src/MasterList/api/index.ts
  packages/system/src/MasterList/api/operations.generated.ts
  packages/system/src/MasterList/api/operations.graphql
  packages/system/src/Name/Components/NameSearchInput/NameSearchInput.tsx
  packages/system/src/Name/Components/NameSearchModal/NameSearchModal.tsx
  packages/system/src/Name/ListView/ListView.tsx
  packages/system/src/Name/ListView/api.ts
  packages/system/src/Name/api/api.ts
  packages/system/src/Name/api/hooks.ts
  packages/system/src/Name/api/index.ts
  packages/system/src/Name/api/operations.generated.ts
  packages/system/src/Name/api/operations.graphql
  packages/system/src/Name/hooks/index.ts
  packages/system/src/Name/hooks/useNames.ts
  packages/system/src/Name/index.ts
  packages/system/src/Stock/ListView/ListView.tsx
  packages/system/src/Stock/ListView/api.ts
  packages/system/src/Stock/api/api.ts
  packages/system/src/Stock/api/hooks.ts
  packages/system/src/Stock/api/index.ts
  packages/system/src/Stock/api/operations.generated.ts
  packages/system/src/Stock/api/operations.graphql
  packages/system/src/Store/api/api.ts
  packages/system/src/Store/api/hooks.ts
  packages/system/src/Store/api/index.ts
  packages/system/src/Store/api/operations.generated.ts
  packages/system/src/Store/api/operations.graphql
  packages/system/src/Store/hooks/index.ts
  packages/system/src/Store/hooks/useStores.ts
  packages/system/src/Store/index.ts
Labels: Status: To do, system, locations, Master List, Stock

#914 #882 Location query relocation
  packages/common/src/operations.generated.ts
  packages/common/src/operations.graphql
  packages/invoices/src/types.ts
  packages/system/src/Location/Components/LocationInputColumn.tsx
  packages/system/src/Location/Components/LocationSearchInput.tsx
  packages/system/src/Location/ListView/ListView.tsx
  packages/system/src/Location/ListView/LocationEditModal/LocationEditModal.tsx
  packages/system/src/Location/ListView/Toolbar.tsx
  packages/system/src/Location/ListView/api.ts
  packages/system/src/Location/api/api.ts
  packages/system/src/Location/api/hooks.ts
  packages/system/src/Location/api/index.ts
  packages/system/src/Location/api/operations.generated.ts
  packages/system/src/Location/api/operations.graphql
  packages/system/src/Location/index.ts
  packages/system/src/Location/types.ts
Labels: Status: To do, system, locations, Master List, Stock

#899 Prompt for unsaved shipments
  packages/common/src/hooks/index.ts
  packages/common/src/hooks/useConfirmOnLeaving/index.ts
  packages/common/src/hooks/useConfirmOnLeaving/useConfirmOnLeaving.stories.tsx
  packages/common/src/hooks/useConfirmOnLeaving/useConfirmOnLeaving.ts
  packages/common/src/hooks/useDirtyCheck.ts
  packages/common/src/hooks/useListData/useListData.ts
  packages/common/src/hooks/useQueryParams/useQueryParams.ts
  packages/common/src/utils/index.ts
  packages/host/package.json
  packages/invoices/src/InboundShipment/DetailView/api.ts
  packages/invoices/src/InboundShipment/DetailView/modals/InboundLineEdit/InboundLineEdit.tsx
  packages/invoices/src/InboundShipment/ListView/ListView.tsx
  packages/invoices/src/InboundShipment/ListView/api.ts
  packages/invoices/src/OutboundShipment/DetailView/SidePanel.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/OutboundLineEdit.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/hooks/useDraftOutboundLines.tsx
  packages/invoices/src/OutboundShipment/ListView/ListView.tsx
  packages/invoices/src/OutboundShipment/ListView/api.ts
  packages/invoices/src/OutboundShipment/api/hooks.ts
  packages/system/src/Item/api/api.ts
  packages/system/src/Item/api/hooks/useItem/useItem.ts
  packages/system/src/Item/api/hooks/useItemsList/useItemsList.ts
  packages/system/src/Item/api/operations.generated.ts
  yarn.lock
Labels: Status: To do, outbound, v1
