Repository openmsupply/openmsupply-client, pull requests merged in 2022-01, with the labels that each got.

#710 Add simple locations list view
  packages/common/src/intl/locales/en/app.json
  packages/common/src/operations.graphql
  packages/common/src/types/schema.ts
  packages/config/src/routes.ts
  packages/host/src/components/Navigation/InventoryNav.tsx
  packages/host/src/routers/InventoryRouter.tsx
  packages/inventory/src/InventoryService.tsx
  packages/mock-server/src/api/resolvers/location.ts
  packages/mock-server/src/data/data.ts
  packages/mock-server/src/schema/Location.ts
  packages/mock-server/src/worker/handlers/location/index.ts
  packages/system/src/Location/Components/LocationSearchInput.tsx
  packages/system/src/Location/ListView/ListView.tsx
  packages/system/src/Location/ListView/api.ts
  packages/system/src/Location/ListView/index.ts
  packages/system/src/Location/Service/Service.tsx
  packages/system/src/Location/Service/index.ts
  packages/system/src/Location/hooks/index.ts
  packages/system/src/Location/hooks/useLocations.ts
  packages/system/src/Location/index.ts
Labels: Status: In progress, locations

#713 #711 locations detail view
  packages/common/src/intl/locales/en/inventory.json
  packages/common/src/operations.graphql
  packages/common/src/types/schema.ts
  packages/common/src/types/utility.ts
  packages/inventory/src/InventoryService.tsx
  packages/invoices/src/InboundShipment/DetailView/DetailView.tsx
  packages/invoices/src/InboundShipment/DetailView/modals/InboundLineEdit/InboundLineEdit.tsx
  packages/mock-server/src/api/mutations/index.ts
  packages/mock-server/src/api/mutations/location.ts
  packages/mock-server/src/data/database.ts
  packages/mock-server/src/index.ts
  packages/mock-server/src/worker/handlers/location/index.ts
  packages/system/src/Location/ListView/AppBarButtons.tsx
  packages/system/src/Location/ListView/ListView.tsx
  packages/system/src/Location/ListView/LocationEditModal/LocationEditModal.tsx
  packages/system/src/Location/ListView/LocationEditModal/index.ts
  packages/system/src/Location/ListView/api.ts
Labels: system, locations

#720 Add removal of supplier requisition save button
  packages/common/src/additions.schema.graphql
  packages/common/src/types/schema.ts
  packages/invoices/src/InboundShipment/DetailView/Toolbar.tsx
  packages/requisitions/src/SupplierRequisition/DetailView/ContentArea.tsx
  packages/requisitions/src/SupplierRequisition/DetailView/DetailView.tsx
  packages/requisitions/src/SupplierRequisition/DetailView/Footer.tsx
  packages/requisitions/src/SupplierRequisition/DetailView/SidePanel.tsx
  packages/requisitions/src/SupplierRequisition/DetailView/Toolbar.tsx
  packages/requisitions/src/SupplierRequisition/DetailView/api.ts
  packages/requisitions/src/SupplierRequisition/DetailView/columns.ts
  packages/requisitions/src/SupplierRequisition/DetailView/reducer.ts
  packages/requisitions/src/SupplierRequisition/api/api.ts
  packages/requisitions/src/SupplierRequisition/api/hooks.ts
  packages/requisitions/src/SupplierRequisition/api/index.ts
  packages/requisitions/src/utils.ts
Labels: supplier requisition

#721 #718 remove customer req save button
  packages/common/src/additions.schema.graphql
  packages/common/src/operations.graphql
  packages/common/src/types/schema.ts
  packages/requisitions/src/CustomerRequisition/DetailView/ContentArea.tsx
  packages/requisitions/src/CustomerRequisition/DetailView/DetailView.tsx
  packages/requisitions/src/CustomerRequisition/DetailView/Footer.tsx
  packages/requisitions/src/CustomerRequisition/DetailView/SidePanel.tsx
  packages/requisitions/src/CustomerRequisition/DetailView/Toolbar.tsx
  packages/requisitions/src/CustomerRequisition/DetailView/api.ts
  packages/requisitions/src/CustomerRequisition/DetailView/columns.ts
  packages/requisitions/src/CustomerRequisition/DetailView/reducer.ts
  packages/requisitions/src/CustomerRequisition/api/api.ts
  packages/requisitions/src/CustomerRequisition/api/hooks.ts
  packages/requisitions/src/CustomerRequisition/api/index.ts
  packages/requisitions/src/SupplierRequisition/DetailView/Footer.tsx
  packages/requisitions/src/types.ts
  packages/requisitions/src/utils.ts
Labels: customer requisition

#724 #716 Remove save button from stocktake
  packages/common/src/intl/locales/en/inventory.json
  packages/common/src/operations.graphql
  packages/common/src/types/schema.ts
  packages/common/src/types/utility.ts
  packages/inventory/src/Stocktake/DetailView/AppBarButtons.tsx
  packages/inventory/src/Stocktake/DetailView/ContentArea.tsx
  packages/inventory/src/Stocktake/DetailView/DetailView.tsx
  packages/inventory/src/Stocktake/DetailView/Footer.tsx
  packages/inventory/src/Stocktake/DetailView/SidePanel.tsx
  packages/inventory/src/Stocktake/DetailView/Toolbar.tsx
  packages/inventory/src/Stocktake/DetailView/columns.ts
  packages/inventory/src/Stocktake/api/api.ts
  packages/inventory/src/Stocktake/api/hooks.ts
  packages/inventory/src/Stocktake/api/index.ts
  packages/mock-server/src/worker/handlers/stocktake/index.ts
Labels: stocktake

#729 #716 stocktake save button 2
  packages/common/src/api/hooks/useQuerySelector/useQuerySelector.ts
  packages/common/src/intl/locales/en/inventory.json
  packages/common/src/operations.graphql
  packages/common/src/types/schema.ts
  packages/common/src/utils/arrays/index.ts
  packages/inventory/src/Stocktake/DetailView/ContentArea.tsx
  packages/inventory/src/Stocktake/DetailView/DetailView.tsx
  packages/inventory/src/Stocktake/DetailView/api.ts
  packages/inventory/src/Stocktake/DetailView/columns.ts
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/StocktakeLineEdit.tsx
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/StocktakeLineEditForm.tsx
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/StocktakeLineEditTables.tsx
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/StocktakeLinePanel.tsx
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/hooks.ts
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/utils.ts
  packages/inventory/src/Stocktake/DetailView/reducer.ts
  packages/inventory/src/Stocktake/api/api.ts
  packages/inventory/src/Stocktake/api/hooks.ts
  packages/inventory/src/types.ts
  packages/inventory/src/utils.ts
  packages/invoices/src/InboundShipment/DetailView/api.ts
  packages/mock-server/src/worker/handlers/stocktake/index.ts
Labels: Status: In progress, stocktake

#737 persist side panel state
  packages/common/src/hooks/useDetailPanel.tsx
  packages/common/src/localStorage/keys.ts
  packages/common/src/ui/components/inputs/Autocomplete/Autocomplete.tsx
  packages/common/src/ui/components/portals/DetailPanel/DetailPanel.tsx
Labels: core/host

#740 #735 stocktake add item buttons
  packages/common/src/intl/locales/en/inventory.json
  packages/common/src/ui/layout/tables/DataTable.tsx
  packages/inventory/src/Stocktake/DetailView/ContentArea.tsx
  packages/inventory/src/Stocktake/DetailView/DetailView.tsx
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/StocktakeLineEdit.tsx
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/StocktakeLinePanel.tsx
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/hooks.ts
  packages/inventory/src/Stocktake/api/hooks.ts
  packages/inventory/src/utils.ts
  packages/invoices/src/InboundShipment/DetailView/DetailView.tsx
  packages/invoices/src/InboundShipment/DetailView/api.ts
  packages/invoices/src/InboundShipment/DetailView/modals/InboundLineEdit/InboundLineEditPanel.tsx
  packages/system/src/Item/index.ts
  packages/system/src/Item/types.ts
  packages/system/src/Item/utils.ts
Labels: Status: To do, stocktake

#742 Add filtering of items
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/StocktakeLineEditForm.tsx
Labels: Status: To do, stocktake

#743 Add update columns for detail view and add/edit item modal for stocktake
  packages/common/src/additions.schema.graphql
  packages/common/src/operations.graphql
  packages/common/src/types/schema.ts
  packages/inventory/src/Stocktake/DetailView/columns.ts
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/StocktakeLineEditTables.tsx
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/hooks.ts
  packages/inventory/src/Stocktake/api/api.ts
  packages/mock-server/src/data/data.ts
Labels: stocktake

#744 Add StocktakeDetailView row expansion
  packages/common/src/ui/layout/tables/DataTable.tsx
  packages/common/src/ui/layout/tables/components/DataRow/DataRow.tsx
  packages/common/src/ui/layout/tables/utils/ColumnDefinitionSetBuilder.ts
  packages/inventory/src/Stocktake/DetailView/ContentArea.tsx
  packages/inventory/src/Stocktake/DetailView/columns.ts
  packages/invoices/src/InboundShipment/DetailView/GeneralTab.tsx
Labels: Status: To do, stocktake

#745 #741 outbound item modal
  packages/common/src/intl/locales/en/distribution.json
  packages/common/src/operations.graphql
  packages/common/src/types/schema.ts
  packages/common/src/ui/components/inputs/Autocomplete/Autocomplete.tsx
  packages/invoices/src/OutboundShipment/DetailView/api.ts
  packages/invoices/src/OutboundShipment/DetailView/modals/BatchesTable.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/ItemDetailsForm.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/ItemDetailsModal.tsx
  packages/invoices/src/OutboundShipment/DetailView/reducer.test.ts
  packages/invoices/src/OutboundShipment/DetailView/reducer.ts
  packages/invoices/src/types.ts
  packages/system/src/Item/Components/ItemSearchInput/ItemSearchInput.tsx
Labels: Status: In progress, outbound

#746 Add aggregated row sorting
  .storybook/preview.js
  packages/common/src/hooks/index.ts
  packages/common/src/hooks/useQueryParams/useQueryParams.ts
  packages/common/src/hooks/useSortBy/useSortBy.stories.tsx
  packages/common/src/hooks/useSortBy/useSortBy.test.ts
  packages/common/src/hooks/useSortBy/useSortBy.ts
  packages/common/src/hooks/useSortedData/index.ts
  packages/common/src/hooks/useSortedData/useSortedData.stories.ts
  packages/common/src/hooks/useSortedData/useSortedData.test.ts
  packages/common/src/hooks/useSortedData/useSortedData.ts
  packages/inventory/src/Stocktake/DetailView/columns.ts
  packages/inventory/src/Stocktake/api/hooks.ts
  packages/invoices/src/InboundShipment/DetailView/api.ts
  packages/requisitions/src/CustomerRequisition/DetailView/columns.ts
  packages/requisitions/src/SupplierRequisition/DetailView/columns.ts
Labels: Status: To do, stocktake

#748 #709 dom violation
  packages/common/src/intl/IntlProvider.tsx
  packages/common/src/ui/layout/tables/DataTable.tsx
  packages/common/src/ui/layout/tables/components/DataRow/DataRow.tsx
  packages/common/src/ui/layout/tables/components/Expand/MiniTable.tsx
  packages/invoices/src/OutboundShipment/DetailView/tabs/GeneralTab.tsx
Labels: Status: In progress, Chore, common/library

#751 #715 remove outbound shipment save button 2
  packages/invoices/src/OutboundShipment/DetailView/columns.ts
  packages/invoices/src/OutboundShipment/api/hooks.ts
  packages/invoices/src/types.ts
Labels: Status: In progress, outbound

#755 default pack size
  packages/invoices/src/OutboundShipment/DetailView/modals/ItemDetailsForm.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/ItemDetailsModal.tsx
Labels: Status: To do

#756 outbound edit modal
  packages/invoices/src/OutboundShipment/DetailView/modals/ItemDetailsForm.tsx
  packages/invoices/src/OutboundShipment/DetailView/modals/ItemDetailsModal.tsx
Labels: Status: To do

#759 #758 white label
  packages/common/src/intl/locales/en/common.json
  packages/common/src/localStorage/keys.ts
  packages/common/src/styles/theme.ts
  packages/common/src/styles/useAppTheme.ts
  packages/common/src/ui/components/divider/Divider.tsx
  packages/common/src/ui/components/inputs/Switch/Switch.tsx
  packages/common/src/ui/components/navigation/AppNavLink/AppNavLink.tsx
  packages/host/src/Admin/Setting.tsx
  packages/host/src/Admin/SettingTextArea.tsx
  packages/host/src/Admin/Settings.tsx
  packages/host/src/Host.tsx
  packages/host/src/components/AppDrawer/AppDrawer.tsx
  packages/host/src/components/AppDrawer/AppDrawerIcon.tsx
  packages/host/src/components/LanguageMenu.tsx
Labels: Status: In progress

#760 #620 detail loading
  packages/common/src/intl/locales/en/distribution.json
  packages/common/src/intl/locales/en/inventory.json
  packages/common/src/intl/locales/en/replenishment.json
  packages/common/src/ui/icons/Alert.tsx
  packages/common/src/ui/icons/Icon.stories.tsx
  packages/common/src/ui/icons/index.ts
  packages/common/src/ui/index.ts
  packages/common/src/ui/layout/index.ts
  packages/common/src/ui/layout/skeletons/ButtonSkeleton.stories.tsx
  packages/common/src/ui/layout/skeletons/ButtonSkeleton.tsx
  packages/common/src/ui/layout/skeletons/DataTableSkeleton.stories.tsx
  packages/common/src/ui/layout/skeletons/DataTableSkeleton.tsx
  packages/common/src/ui/layout/skeletons/DetailViewSkeleton.stories.tsx
  packages/common/src/ui/layout/skeletons/DetailViewSkeleton.tsx
  packages/common/src/ui/layout/skeletons/DropdownSkeleton.tsx
  packages/common/src/ui/layout/skeletons/index.ts
  packages/common/src/ui/notifications/AlertModal.stories.tsx
  packages/common/src/ui/notifications/AlertModal.tsx
  packages/common/src/ui/notifications/index.ts
  packages/host/src/Host.tsx
  packages/inventory/src/Stocktake/DetailView/ContentArea.tsx
  packages/inventory/src/Stocktake/DetailView/DetailView.tsx
  packages/invoices/src/InboundShipment/DetailView/DetailView.tsx
  packages/invoices/src/InboundShipment/DetailView/api.ts
  packages/invoices/src/OutboundShipment/DetailView/DetailView.tsx
  packages/requisitions/src/CustomerRequisition/DetailView/DetailView.tsx
  packages/requisitions/src/SupplierRequisition/DetailView/DetailView.tsx
  packages/requisitions/src/SupplierRequisition/DetailView/Footer.tsx
Labels: Status: In progress, inbound, outbound, supplier requisition, customer requisition, stocktake

#763 make kbar pretty again
  packages/common/package.json
  packages/common/src/intl/locales/en/app.json
  packages/host/src/CommandK.tsx
  packages/host/src/Host.tsx
  yarn.lock
Labels: Status: Backlog
