Repository openmsupply/openmsupply-client, pull requests merged in 2022-05, with the labels that each got.

#1215 Render expando only when expanded
  packages/common/src/ui/layout/tables/components/DataRow/DataRow.tsx
  packages/common/src/ui/layout/tables/components/Expand/MiniTable.tsx
  packages/common/src/ui/layout/tables/context/TableContext.ts
  packages/common/src/ui/layout/tables/context/hooks/useExpanded.ts
  packages/inventory/src/Stocktake/DetailView/ContentArea/ContentArea.tsx
  packages/inventory/src/Stocktake/DetailView/SidePanel.tsx
  packages/inventory/src/Stocktake/DetailView/Toolbar.tsx
Labels: Status: To do, inbound, outbound, common/library, refactor, request, response, stocktake

#1217 Limit internal order quantity
  packages/requisitions/src/RequestRequisition/DetailView/RequestLineEdit/RequestLineEditForm.tsx
Labels: Status: To do, inbound, outbound, Chore, common/library, request, response, stocktake

#1216 1050 utils tests
  jest.config.js
  package.json
  packages/common/src/ui/components/errors/NothingHere.tsx
  packages/common/src/utils/arrays/ArrayUtils.test.ts
  packages/common/src/utils/arrays/SortUtils.test.ts
  packages/common/src/utils/formatters/formatters.test.ts
  packages/common/src/utils/numbers/NumUtils.test.ts
  packages/common/src/utils/regex/RegexUtils.test.ts
  yarn.lock
Labels: Chore

#1218 Refactor userQueryParams for Outbounds
  packages/common/src/hooks/useFilterBy/useFilterBy.tsx
  packages/common/src/hooks/useQueryParams/useQueryParams.ts
  packages/common/src/ui/layout/tables/context/TableContext.tsx
  packages/invoices/src/OutboundShipment/ListView/ListView.tsx
  packages/invoices/src/OutboundShipment/api/hooks/document/useOutbounds.ts
Labels: bug, outbound

#1220 update ListViews
  packages/common/src/hooks/useQueryParams/useQueryParams.ts
  packages/common/src/intl/locales/en/distribution.json
  packages/common/src/intl/locales/en/inventory.json
  packages/common/src/intl/locales/en/replenishment.json
  packages/common/src/intl/locales/fr/replenishment.json
  packages/inventory/src/Stocktake/ListView/ListView.tsx
  packages/inventory/src/Stocktake/api/hooks.ts
  packages/invoices/src/InboundShipment/ListView/ListView.tsx
  packages/invoices/src/InboundShipment/api/hooks.ts
  packages/invoices/src/OutboundShipment/ListView/ListView.tsx
  packages/invoices/src/OutboundShipment/api/hooks/line/useOutboundDeleteLines.ts
  packages/requisitions/src/RequestRequisition/ListView/ListView.tsx
  packages/requisitions/src/RequestRequisition/api/hooks.ts
  packages/requisitions/src/ResponseRequisition/ListView/ListView.tsx
  packages/requisitions/src/ResponseRequisition/api/hooks.ts
  packages/system/src/Item/ListView/ListView.tsx
  packages/system/src/Item/api/hooks/useItems/useItems.ts
  packages/system/src/Location/ListView/ListView.tsx
  packages/system/src/Location/api/hooks.ts
  packages/system/src/MasterList/ListView/ListView.tsx
  packages/system/src/MasterList/api/hooks.ts
  packages/system/src/Name/Components/CustomerSearchModal/CustomerSearchModal.tsx
  packages/system/src/Name/Components/InternalSupplierSearchModal/InternalSupplierSearchModal.tsx
  packages/system/src/Name/Components/SupplierSearchModal/SupplierSearchModal.tsx
  packages/system/src/Name/ListView/ListView.tsx
  packages/system/src/Name/api/hooks.ts
  packages/system/src/Stock/ListView/ListView.tsx
  packages/system/src/Stock/api/hooks.ts
Labels: bug, outbound

#1221 1204 refactor params 3
  packages/common/src/hooks/index.ts
  packages/common/src/hooks/useFilterBy/index.ts
  packages/common/src/hooks/useFilterBy/useFilterBy.test.tsx
  packages/common/src/hooks/useFilterBy/useFilterBy.tsx
  packages/common/src/hooks/usePagination/index.ts
  packages/common/src/hooks/usePagination/usePagination.stories.tsx
  packages/common/src/hooks/usePagination/usePagination.test.ts
  packages/common/src/hooks/usePagination/usePagination.ts
  packages/common/src/hooks/useQueryParams/index.ts
  packages/common/src/hooks/useQueryParams/types.ts
  packages/common/src/hooks/useQueryParams/usePagination.stories.tsx
  packages/common/src/hooks/useQueryParams/useQueryParams.test.tsx
  packages/common/src/hooks/useQueryParams/useQueryParams.ts
  packages/common/src/hooks/useQueryParams/useSortBy.stories.tsx
  packages/common/src/hooks/useSortBy/index.ts
  packages/common/src/hooks/useSortBy/useSortBy.stories.tsx
  packages/common/src/hooks/useSortBy/useSortBy.test.ts
  packages/common/src/hooks/useSortBy/useSortBy.ts
  packages/common/src/ui/layout/tables/components/Header/Header.stories.tsx
  packages/common/src/ui/layout/tables/context/TableContext.tsx
  packages/inventory/src/Stocktake/DetailView/DetailView.tsx
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/StocktakeLineEdit.tsx
  packages/inventory/src/Stocktake/ListView/CreateStocktakeButton.tsx
  packages/inventory/src/Stocktake/api/hooks.ts
  packages/invoices/src/InboundShipment/DetailView/ContentArea/columns.ts
  packages/invoices/src/InboundShipment/DetailView/DetailView.tsx
  packages/invoices/src/InboundShipment/DetailView/modals/InboundLineEdit/TabTables.tsx
  packages/invoices/src/InboundShipment/DetailView/modals/InboundServiceLineEdit/InboundServiceLineEdit.tsx
  packages/invoices/src/InboundShipment/api/hooks.ts
  packages/invoices/src/OutboundShipment/DetailView/DetailView.tsx
  packages/invoices/src/OutboundShipment/DetailView/OutboundServiceLineEdit/OutboundServiceLineEdit.tsx
  packages/invoices/src/OutboundShipment/api/hooks/document/useOutbounds.ts
  packages/invoices/src/OutboundShipment/api/hooks/line/useOutboundRows.ts
  packages/requisitions/src/RequestRequisition/DetailView/DetailView.tsx
  packages/requisitions/src/RequestRequisition/DetailView/columns.ts
  packages/requisitions/src/ResponseRequisition/DetailView/DetailView.tsx
  packages/requisitions/src/ResponseRequisition/DetailView/columns.ts
  packages/system/src/Item/Components/ServiceItemSearchInput/ServiceItemSearchInput.tsx
  packages/system/src/Item/api/hooks/useServiceItems/useServiceItems.ts
  packages/system/src/Item/api/hooks/useStockItems/useStockItems.ts
  packages/system/src/Item/api/hooks/useStockItemsWithStats/useStockItemsWithStats.tsx
  packages/system/src/MasterList/DetailView/DetailView.tsx
  packages/system/src/MasterList/DetailView/columns.ts
  packages/system/src/Report/api/hooks.ts
  packages/system/src/Stock/ListView/ListView.tsx
  packages/system/src/Store/api/hooks.ts
  packages/system/src/Store/components/StoreSearchInput/StoreSearchInput.tsx
Labels: bug, outbound

#1222 Query Params tests
  packages/common/src/hooks/useQueryParams/usePagination.stories.tsx
  packages/common/src/hooks/useQueryParams/useQueryParams.test.tsx
  packages/common/src/hooks/useQueryParams/useSortBy.stories.tsx
  packages/common/src/ui/layout/tables/columns/PaginationRow/PaginationRow.test.tsx
  packages/common/src/ui/layout/tables/components/Expand/MiniTable.tsx
  packages/common/src/ui/layout/tables/context/TableContext.test.tsx
  packages/common/src/ui/layout/tables/context/TableContext.tsx
  packages/common/src/utils/regex/RegexUtils.test.ts
  packages/common/src/utils/testing/testing.tsx
  packages/inventory/src/Stocktake/DetailView/ContentArea/ContentArea.tsx
  packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/StocktakeLineEdit.tsx
  packages/invoices/src/InboundShipment/DetailView/modals/InboundLineEdit/InboundLineEdit.tsx
  packages/invoices/src/InboundShipment/DetailView/modals/InboundServiceLineEdit/InboundServiceLineEdit.tsx
  packages/invoices/src/OutboundShipment/DetailView/OutboundLineEdit/OutboundLineEdit.tsx
  packages/invoices/src/OutboundShipment/DetailView/OutboundServiceLineEdit/OutboundServiceLineEdit.tsx
  packages/system/src/Item/DetailView/Tabs/MasterLists.tsx
Labels: bug, outbound

#1233 1115 Warning modals for Delete actions
  packages/common/src/hooks/index.ts
  packages/common/src/hooks/useDeleteConfirmation/index.ts
  packages/common/src/hooks/useDeleteConfirmation/useDeleteConfirmation.ts
  packages/common/src/intl/locales/en/common.json
  packages/common/src/intl/locales/en/distribution.json
  packages/common/src/intl/locales/en/inventory.json
  packages/common/src/intl/locales/en/replenishment.json
  packages/common/src/ui/components/menus/DropdownMenu/DropdownMenu.tsx
  packages/inventory/src/Stocktake/DetailView/Toolbar.tsx
  packages/inventory/src/Stocktake/api/hooks/document/useStocktakeDeleteSelected.ts
  packages/inventory/src/Stocktake/api/hooks/line/useStocktakeDeleteSelectedLines.ts
  packages/invoices/src/InboundShipment/DetailView/Toolbar.tsx
  packages/invoices/src/InboundShipment/api/hooks/document/index.ts
  packages/invoices/src/InboundShipment/api/hooks/document/useDeleteSelectedInbounds.ts
  packages/invoices/src/InboundShipment/api/hooks/document/useInboundDelete.ts
  packages/invoices/src/InboundShipment/api/hooks/index.ts
  packages/invoices/src/InboundShipment/api/hooks/line/useDeleteSelectedLines.ts
  packages/invoices/src/OutboundShipment/DetailView/Toolbar.tsx
  packages/invoices/src/OutboundShipment/api/hooks/document/useOutboundDelete.ts
  packages/invoices/src/OutboundShipment/api/hooks/line/useOutboundDeleteLines.ts
  packages/requisitions/src/RequestRequisition/DetailView/Toolbar/ToolbarDropDown.tsx
  packages/requisitions/src/RequestRequisition/api/hooks/document/useDeleteSelectedRequisitions.ts
  packages/requisitions/src/RequestRequisition/api/hooks/line/useDeleteRequestLines.ts
  packages/requisitions/src/ResponseRequisition/api/hooks/line/useDeleteResponseLines.ts
  packages/system/src/Location/ListView/Toolbar.tsx
Labels: Status: In progress, Chore
